{% extends "basic.html" %}

{% load static %}

{% block content %}
<br>
<br>
<br>
<br>

	<div class = "container">

		<ul id="waterfall">

			<li>{% include "articles/article6_small.html" %}</li>

			<li>{% include "articles/article1_small.html" %}</li>
			<li>{% include "articles/article2_small.html" %}</li>

			<li>{% include "articles/article3_small.html" %}</li>
			<li>{% include "articles/article4_small.html" %}</li>	
			<li>{% include "articles/article5_small.html" %}</li>
			<li>{% include "articles/article7_small.html" %}</li>

		</ul>  

	</div>





{% include "footer.html" %}

{% endblock %}

{% block add_js %}

<script src="{% static 'scripts/newWaterfall.js' %}"></script>
<script src="{% static 'scripts/articles.js' %}"></script>

{% endblock %}