{% load static %}

<div class = "col-lg-3 col-sm-6 col-xs-12">
	<a href="/article/3">
	<div id = "article3" class = "article-small"> 
		<h3 class="text-center">贝尔维尤学院</h3>
		<hr>
		<img class = "img-responsive center" alt="Responsive image" src="{% static 'images/article3_small_1.png' %}"/>
		<br>
		<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;建立于1966年的贝尔维尤学院 Bellevue College (以下简称BC) 是华盛顿州最大的社区学院，同时也是华盛顿州第三大高等教育学院，仅次于华盛顿大学和华盛顿州立大学。每年有来自全世界的37,000名学生进入BC学习。</p>
		<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;贝尔维尤社区大学曾被美国滚石杂志评为全美十佳社区学院之一。2004年，BC是获得外国留学生全国委员会评选的罗西蒙奖的5个高等教育机构之一......</p>
	</div>
	</a>
</div>