{% extends "basic.html" %}

{% load static %}

{% block content %}

<div class = "container-white container-fluid">

	<div class = "container">

		<h2><img class="big-logo" src="{% static 'images/logo.png' %}" />   <a href="/">络雅教育</a></h2>
		<br>
		<h3 class="text-center">贝尔维尤学院</h3>
		<hr>

		<h4>学校简介</h4>

				<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;建立于1966年的贝尔维尤学院 Bellevue College (以下简称BC) 是华盛顿州最大的社区学院，同时也是华盛顿州第三大高等教育学院，仅次于华盛顿大学和华盛顿州立大学。每年有来自全世界的37,000名学生进入BC学习。</p>
				<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;贝尔维尤社区大学曾被美国滚石杂志评为全美十佳社区学院之一。2004年，BC是获得外国留学生全国委员会评选的罗西蒙奖的5个高等教育机构之一，是唯一一所获得该奖项的社区学院。(罗希蒙奖，用于表征国际教育中的杰出和创新成就)。</p>
				
		



		<div class = "row">

			<div class = "col-lg-6 col-sm-12">
				<br>
				<br>
				<img class = "img-responsive" alt="Responsive image"" src="{% static 'images/article3_1.png' %}"/>
			</div>

			<div class = "col-lg-6 col-sm-12">


				<h4>地理优势</h4>
				<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;BC位于华盛顿州东边的Bellevue市，离西雅图市区车程约15分钟。这是一个多元文化汇集之地。此外贝尔维尤市还是微软总部和美国最大通信运营商T-mobile的总部所在地。此外，在美国的城市榜单中，贝尔维尤以自然环境、经济发展、教育实力、安全指数和宜居指数等各方面均衡发展都达到良好以上水平、因此城市综合分值高而占有一席之地，并在2016年被评为美国最宜居城市第二名。</p>
				<h4>教学质量</h4>
				<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;截至2006年，贝尔维尤社区学院已拥有2061个科技专业、学院转本科项目、职业培训等项目。</p>
				<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;在2007年开始提供本科的学士学位，最初提供此学位的两个专业分别为信息系统和科技、供辐射和成像应用科学；2009年，本科学士学位项目又扩展到室内装饰设计。目前贝尔维尤社区学院已拥有12个本科项目，除以上提到的三个学位外，还包括计算机、会计、数据分析、数字营销、卫生保健管理、医学信息、医疗管理和护理专业。</p>

			</div>

		</div>

		

		
		<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;等多关于大西雅图地区优质学院的介绍、专业、申请要求、转学计划等，请至络雅教育官网(loyaeducation.com)或通过络雅教育微信公众账号()进行一对一咨询。</p>

		<br>
		<br>


	</div>

</div>


{% include "footer.html" %}

{% endblock %}