{% extends "basic.html" %}

{% load static %}

{% block content %}

<div class = "container-white container-fluid">

	<div class = "container">

		<h2><img class="big-logo" src="{% static 'images/logo.png' %}" />   <a href="/">络雅教育</a></h2>
		<br>
		<h3 class="text-center">2017年西雅图地区私立学校排名</h3>
		<hr>

		<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;如今越来越多的家长选择让自己的孩子出国读初中、高中，留学低龄化已成为一大趋势。学生们在美国的课堂不但能够在活跃的气氛中学习知识，注重个人发展的美国中学还会帮助学生发展自己的兴趣和长处。除此之外，经由美国中学学习后，学生在申请一流大学时有更强的竞争力。同时，美国大学申请允许同时申请多所学校，收到各所学校录取后，再由学生自己决定上哪一所学校的申请方式也大大避免了与心仪学校失之交臂的遗憾。</p>



		<div class = "row">

			<div class = "col-lg-4 col-sm-12">

				<img class = "img-responsive" alt="Responsive image"" src="{% static 'images/article4_1.png' %}"/>

			</div>

			<div class = "col-lg-8 col-sm-12">

				<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;美国学校分为私立和公立。公立学校由政府资助供当地学生就读，不需费用。然而美国法律规定，美国公立高中只允许接受短期外国交换学生，较长时限为一年。
					<p>美国私立学校为私人或教会所属，接受外国学生就读。在美国有超过三万所私立学校，每年美国有25%的学生进入私立学校学习，由于其资金更为充裕，因此往往能够为学生提供更好的硬件设施及教学条件。根据美国教育评估项目统计，私立高中的学生的数学和语文成绩比公立学校学生成绩平均高出10分。一般而言，在美国有名的私立高中上学，毕业后进入美国名校的比例要远远大于公立高中。</p>
					<p>络雅教育为大家整理了西雅图及周边地区排名前十且接受国际学生的学校。学校信息来自学校官方网站，排名信息来自美国专业学校排名网站(数据由学校学生的成绩、大学升学数据、学校师资水平和硬件设施，以及对学校学生、家长、老师的调查等多方面信息汇总所得)，对于选校有很高的参考价值。</p>
				</div>

			</div>
			<br>



			<h4>#1 Lakeside School</h4>
			<h5>西雅图·年级 5~12·学费 $3,2000</h5>
			<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Lakeside中学位于西雅图市北部，是比尔盖茨和保罗艾伦的母校。此学校有多名学生进入美国高等学府，包括斯坦福、哈佛、耶鲁等名校。目前在校学生838人，师生比例为1:9 (美国平均 1:16)。除了优质的教育资源和环境，丰富的艺术和体育课程项也能够保证学生的全面发展。</p>
			<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;学校招收国际生，学生需自己联系安排住宿，国际生托福要求为94分，申请截止日期12月14日。</p>
			<br>

			<h4>#2 The Overlake School</h4>
			<h5>雷德蒙德·年级5~12·学费$3,1460</h5>
			<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;位于雷德蒙德的The Overlake School建立于1967年，“精益求精，逐新趣异，培养富有责任心和价值观多元的学生，创建人文社会。2017年在校人数532人，师生比例9:1，每年有多名毕业生进入华盛顿大学、斯坦福大学、南加州大学、伯克利大学、布朗大学等。</p>
			<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;学校每年招收国际生人数有限，申请截止日期为1月12日。</p>
			<br>

			<h4>#3 The Bush School</h4>
			<h5>西雅图·年级K~12·学费$3,2290(高中)  $3,0830(初中) $2,4995(小学) </h5>
			<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;The Bush School建校于1924年，是西雅图历史最悠久的非宗教性质私立学校之一。学校招收学生年级为学前班至12年级，至2017年，学生总人数为595人，师生比1:9。 学校根据每个阶段学生特点设置了不同课程，并且提供丰富的社会实践、暑期拓展、课后兴趣班等项目，此外学校的体育和艺术课程也是学生在此学校学习的重要组成部分。</p>
			<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;学校招收国际学生，申请截止日期为1月12日</p>
			<br>


			<h4>#4 Annie Wright Schools</h4>
			<h5>塔克马·年级 幼儿园~12·学费每年级段不同</h5>
			<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Annie Wright Schools是一所私立教会学校，坐落于华盛顿州塔科马市。成立于1884年的Annie Wright在创立之初为基督教女校，随着塔科马市的不断发展及人口的增加，学校开始招收男生。这座历史悠久的学校沿海湾而建，不但景色优美还拥有室内游泳池、2个健身房、科学实验室，艺术和音乐室、影院、户外花园、学龄前游乐区、运动场及开放场地。有多名学生进入哈佛大学、康奈尔大学、宾大等一流院校。学生人数465，师生比1:8。</p>
			<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;学校招收各年级国际生，提供高年级国际生住宿，无申请截止日期，直至满额。</p>
			<br>

			<h4>#5 Eastside Preparatory School</h4>
			<h5>柯克兰·年级5~12·学费$2,8500</h5>
			<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Eastside Preparatory School 位于柯克兰南部与贝尔维尤交接处，地理位置优越、交通方便、环境优美这所成立于2002年的学校以其优质的教育环境和丰富的体育、艺术活动等，为学生的全面发展提供了良好的资源。学校旨在培养有批判性思维、责任感和人文关怀的领导者和创造者。 学生人数400，师生比1:5。</p>
			<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;学校仅招收9~11年级国际生，申请截止日期1月12日</p>
			<br>

			<h4>#6 The Northwest School</h4>
			<h5>西雅图·年级6~12·学费$3,5025</h5>
			<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;The Northwest School成立于1978年，这座位于西雅图市中心的私立中学，出色的大学预备课和英语语言项目保证了国际学生的学习，快速发展的艺术和体育帮助学生培养创造力和团队合作能力，便捷、友善地理环境能够给最大程度上帮助国际生在获得良好教育的同时充分体验美国文化和生活。在校人数497，师生比1:10。</p>
			<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;学校招收9~12年级的国际生，申请截止日期为2月7日，学校提供学生宿舍</p>
			<br>

			<h4>#7 Charles Wright Academy</h4>
			<h5>塔科马·年级 幼儿园~12·学费$4,0313</h5>
			<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;坐落于塔科马市的Charles Wright Academy成立于1974年，拥有43万平方米的校园面积，为各年级学生提供多项学习及活动设施，其中语言及艺术表演中心更是为学生提供了自我探索和自我展示的平台。每年学校有多名学生进入华盛顿大学、斯坦福大学、伯克利大学及纽约大学等高等学府。2017年学生人数700人，师生比1:11。</p>
			<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;学校招收各年级国际生，无申请截止日期，直至满额，学校不提供学生宿舍</p>
			<br>

			<h4>#8 The Bear Creek School</h4>
			<h5>雷德蒙德·年级K~12·学费$2,2495</h5>
			<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;成立于1988年的The Bear Creek School 是一所私立教会学校，学校致力于用经典精英教育模式培育优秀人才。在注重培养学生智慧和传统美德的同时鼓励学生全面发展。另外学校还根据不同年级学生的智力和能力发展设置不同的课程，从文学、历史、哲学等各方面引导和培养学生的思维能力。有多名学生进入斯坦福大学、华盛顿大学、乔治城大学等一流高等学府。2017年学生人数731人，师生比1:10。</p>
			<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;学校招收9~11年级国际生，申请截止日期1月12日，学校不提供住宿</p>
			<br>

			<h4>#9 Forest Ridge School of the Sacred Heart</h4>
			<h5>贝尔维尤·年级5~12·学费$3,2400</h5>
			<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Forest Ridge中学成立于1907年，学校于2017年庆祝建校110周年，是西雅图地区历史最悠久的天主教女校。Forest Ridge的教育注重个人发展、团队合作，培养具有批判性思维、勇于迎接挑战、追求平等的年轻女性。比尔盖茨的女儿就曾就读此校。2017年学生人数为391人，师生比1:7。</p>
			<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;学校招收各年级国际学生，申请截止日期为1月18日，学校提供住宿</p>
			<br>

			<h4>#10 Bellevue Christian School</h4>
			<h5>贝尔维尤·年级 幼儿园~12·学费$1,5180(小学) $2,2530(中学)</h5>
			<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;成立于1950年的Bellevue Christian School位于贝尔维尤最佳社区之一的Clyde Hill。学校注重培养具有批判性思维、领导能力和公共责任心的学生。Bellevue Christian School根据学生年级的不同设施课程，帮助学生更好得开发和培养个人能力。2017年学生人数为480人，师生比1:14.</p>
			<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;学校招收各年级国际学生，无申请截止日期，直至名满额。</p>
			<br>

			<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;更多关于学校的详细信息、申请要求和流程，以及西雅图和周边地区的其他优质学校，请至络雅教育官网(<a href = "/">loyaeducation.com</a>)预约一对一留学咨询。</p>

			<br>
			<br>


		</div>

	</div>


	{% include "footer.html" %}

	{% endblock %}