{% extends "basic.html" %}

{% load static %}

{% block content %}

<div class = "container-white container-fluid">

	<div class = "container">

		<h2><img class="big-logo" src="{% static 'images/logo.png' %}" />   <a href="/">络雅教育</a></h2>
		<br>
		<h3 class="text-center">2017年U.S.News 美国大学综合排名</h3>
		<hr>

		<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;《美国新闻和世界报道》，即U.S. Nes and World Report (简称U.S.News) ，是美国著名的综合性周刊，于 1983年开始发布对美国大学的排名。自1985年开始，此周刊每年都会更新对美国大学的排名。U.S.News对于美国大学的排名数据来自于他们每年对美国所有高等教育学校所做的调查以及学校网站数据，此外，还包含校内教职工及管理人员的数据等综合信息。其排名对于全美高等教育届有着深远影响，许多学校甚至以在U.S.News学校排名中榜上有名为目标。因其对学校综合的考量及对美国高等教育界的影响，此排名对于学生申请具有很重要的参考价值。</p>

		<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;络雅教育为想要申请美国大学及计划转学的学生整理出排名前100的学校，以供参考。更多关于学校的信息和详细资讯，以及申请要求、流程等，请至络雅教育官网(<a href = "/">loyaeducation.com</a>)预约留学专家一对一咨询。</p>

		<table class="table table-striped">
			<tbody>
				<tr>
					<td width="66">
						<p><strong>2017</strong><strong>排名</strong></p>
					</td>
					<td width="97">
						<p><strong>学校中文名</strong></p>
					</td>
					<td width="116">
						<p><strong>学校英文名</strong></p>
					</td>
					<td width="86">
						<p><strong>本科生人数</strong></p>
					</td>
					<td width="142">
						<p>国际生一年学费 (美元)</p>
					</td>
				</tr>
				<tr>
					<td width="66">
						<p>1</p>
					</td>
					<td width="97">
						<p>普林斯顿大学</p>
					</td>
					<td width="116">
						<p>Princeton University</p>
					</td>
					<td width="86">
						<p>5402</p>
					</td>
					<td width="142">
						<p>$4,5320</p>
					</td>
				</tr>
				<tr>
					<td width="66">
						<p>2</p>
					</td>
					<td width="97">
						<p>哈佛大学</p>
					</td>
					<td width="116">
						<p>Harvard University</p>
					</td>
					<td width="86">
						<p>6699</p>
					</td>
					<td width="142">
						<p>$4,7074</p>
					</td>
				</tr>
				<tr>
					<td width="66">
						<p>3</p>
					</td>
					<td width="97">
						<p>芝加哥大学</p>
					</td>
					<td width="116">
						<p>University of Chicago</p>
					</td>
					<td width="86">
						<p>5844</p>
					</td>
					<td width="142">
						<p>$5,2491</p>
					</td>
				</tr>
				<tr>
					<td width="66">
						<p>3</p>
					</td>
					<td width="97">
						<p>耶鲁大学</p>
					</td>
					<td width="116">
						<p>Yale University</p>
					</td>
					<td width="86">
						<p>5532</p>
					</td>
					<td width="142">
						<p>$4,9480</p>
					</td>
				</tr>
				<tr>
					<td width="66">
						<p>5</p>
					</td>
					<td width="97">
						<p>哥伦比亚大学</p>
					</td>
					<td width="116">
						<p>Columbia University</p>
					</td>
					<td width="86">
						<p>6102</p>
					</td>
					<td width="142">
						<p>$5,5056</p>
					</td>
				</tr>
				<tr>
					<td width="66">
						<p>5</p>
					</td>
					<td width="97">
						<p>斯坦福大学</p>
					</td>
					<td width="116">
						<p>Stanford University</p>
					</td>
					<td width="86">
						<p>6999</p>
					</td>
					<td width="142">
						<p>$4,7940</p>
					</td>
				</tr>
				<tr>
					<td width="66">
						<p>7</p>
					</td>
					<td width="97">
						<p>麻省理工大学</p>
					</td>
					<td width="116">
						<p>Massachusetts Institute of Technology</p>
					</td>
					<td width="86">
						<p>4527</p>
					</td>
					<td width="142">
						<p>$4,8452</p>
					</td>
				</tr>
				<tr>
					<td width="66">
						<p>8</p>
					</td>
					<td width="97">
						<p>杜克大学</p>
					</td>
					<td width="116">
						<p>Duke University</p>
					</td>
					<td width="86">
						<p>6639</p>
					</td>
					<td width="142">
						<p>$5,1265</p>
					</td>
				</tr>
				<tr>
					<td width="66">
						<p>8</p>
					</td>
					<td width="97">
						<p>宾夕法尼亚大学</p>
					</td>
					<td width="116">
						<p>University of Pennsylvania</p>
					</td>
					<td width="86">
						<p>9726</p>

					</td>
					<td width="142">
						<p>$5,1464</p>

					</td>
				</tr>
				<tr>
					<td width="66">
						<p>10</p>
					</td>
					<td width="97">
						<p>约翰霍普金斯大学</p>
					</td>
					<td width="116">
						<p>Johns Hopkins University</p>
					</td>
					<td width="86">
						<p>6524</p>
					</td>
					<td width="142">
						<p>$5,0410&nbsp;</p>
					</td>
				</tr>
				<tr>
					<td width="66">
						<p>11</p>
					</td>
					<td width="97">
						<p>达特茅斯学院</p>
					</td>
					<td width="116">
						<p>Dartmouth College</p>
					</td>
					<td width="86">
						<p>4307</p>
					</td>
					<td width="142">
						<p>$5,1438</p>
					</td>
				</tr>
				<tr>
					<td width="66">
						<p>12</p>
					</td>
					<td width="97">
						<p>加州理工学院</p>
					</td>
					<td width="116">
						<p>California Institute of Technology</p>
					</td>
					<td width="86">
						<p>1001&nbsp;</p>

					</td>
					<td width="142">
						<p>$4,7577</p>
					</td>
				</tr>
				<tr>
					<td width="66">
						<p>12</p>
					</td>
					<td width="97">
						<p>西北大学</p>
					</td>
					<td width="116">
						<p>Northwestern University</p>
					</td>
					<td width="86">
						<p>8314</p>
					</td>
					<td width="142">
						<p>$5,0855</p>
					</td>
				</tr>
				<tr>
					<td width="66">
						<p>14</p>
					</td>
					<td width="97">
						<p>布朗大学</p>
					</td>
					<td width="116">
						<p>Brown University</p>
					</td>
					<td width="86">
						<p>6652</p>
					</td>
					<td width="142">
						<p>$5,1367</p>
					</td>
				</tr>
				<tr>
					<td width="66">
						<p>15</p>
					</td>
					<td width="97">
						<p>康奈尔大学</p>
					</td>
					<td width="116">
						<p>Cornell University</p>
					</td>
					<td width="86">
						<p>1,4315</p>
					</td>
					<td width="142">
						<p>$5,0953</p>
					</td>
				</tr>
				<tr>
					<td width="66">
						<p>15</p>
					</td>
					<td width="97">
						<p>莱斯大学</p>
					</td>
					<td width="116">
						<p>Rice University</p>
					</td>
					<td width="86">
						<p>3910</p>
					</td>
					<td width="142">
						<p>$4,3918</p>
					</td>
				</tr>
				<tr>
					<td width="66">
						<p>15</p>
					</td>
					<td width="97">
						<p>圣母大学</p>
					</td>
					<td width="116">
						<p>University of Notre Dame</p>
					</td>
					<td width="86">
						<p>8462&nbsp;</p>

					</td>
					<td width="142">
						<p>$4,9685</p>

					</td>
				</tr>
				<tr>
					<td width="66">
						<p>15</p>
					</td>
					<td width="97">
						<p>范德堡大学</p>
					</td>
					<td width="116">
						<p>Vanderbilt University</p>
					</td>
					<td width="86">
						<p>6883</p>

					</td>
					<td width="142">
						<p>$4,5610</p>

					</td>
				</tr>
				<tr>
					<td width="66">
						<p>19</p>
					</td>
					<td width="97">
						<p>圣路易斯华盛顿大学</p>
					</td>
					<td width="116">
						<p>Washington University in St. Louis</p>
					</td>
					<td width="86">
						<p>7504</p>

					</td>
					<td width="142">
						<p>$4,9770</p>

					</td>
				</tr>
				<tr>
					<td width="66">
						<p>20</p>
					</td>
					<td width="97">
						<p>埃默里大学</p>
					</td>
					<td width="116">
						<p>Emory University</p>
					</td>
					<td width="86">
						<p>6867</p>
					</td>
					<td width="142">
						<p>$4,7954</p>
					</td>
				</tr>
				<tr>
					<td width="66">
						<p>20</p>
					</td>
					<td width="97">
						<p>乔治城大学</p>
					</td>
					<td width="116">
						<p>Georgetown University</p>
					</td>
					<td width="86">
						<p>7562</p>
					</td>
					<td width="142">
						<p>$5,0547</p>
					</td>
				</tr>
				<tr>
					<td width="66">
						<p>20</p>
					</td>
					<td width="97">
						<p>加州大学伯克利分校</p>
					</td>
					<td width="116">
						<p>University of California&ndash;Berkeley</p>
					</td>
					<td width="86">
						<p>2,7496&nbsp;</p>

					</td>
					<td width="142">
						<p>$4,0191</p>
					</td>
				</tr>
				<tr>
					<td width="66">
						<p>23</p>
					</td>
					<td width="97">
						<p>南加州大学</p>
					</td>
					<td width="116">
						<p>University of Southern California</p>
					</td>
					<td width="86">
						<p>1,8810&nbsp;</p>
					</td>
					<td width="142">
						<p>$5,2217&nbsp;</p>
					</td>
				</tr>
				<tr>
					<td width="66">
						<p>24</p>
					</td>
					<td width="97">
						<p>卡耐基梅隆大学</p>
					</td>
					<td width="116">
						<p>Carnegie Mellon University</p>
					</td>
					<td width="86">
						<p>6454</p>
					</td>
					<td width="142">
						<p>$5,2040&nbsp;</p>
					</td>
				</tr>
				<tr>
					<td width="66">
						<p>24</p>
					</td>
					<td width="97">
						<p>加州大学洛杉矶分校</p>
					</td>
					<td width="116">
						<p>University of California&ndash;Los Angeles</p>
					</td>
					<td width="86">
						<p>2,9585&nbsp;</p>

					</td>
					<td width="142">
						<p>$3,9518</p>

					</td>
				</tr>
				<tr>
					<td width="66">
						<p>24</p>
					</td>
					<td width="97">
						<p>弗吉尼亚大学</p>
					</td>
					<td width="116">
						<p>University of Virginia</p>
					</td>
					<td width="86">
						<p>1,6736&nbsp;</p>
					</td>
					<td width="142">
						<p>$4,5066</p>
					</td>
				</tr>
				<tr>
					<td width="66">
						<p>27</p>
					</td>
					<td width="97">
						<p>塔夫茨大学</p>
					</td>
					<td width="116">
						<p>Tufts University</p>
					</td>
					<td width="86">
						<p>5290</p>
					</td>
					<td width="142">
						<p>$5,2430</p>
					</td>
				</tr>
				<tr>
					<td width="66">
						<p>27</p>
					</td>
					<td width="97">
						<p>密歇根大学安娜堡分校</p>
					</td>
					<td width="116">
						<p>University of Michigan&ndash;Ann Arbor</p>
					</td>
					<td width="86">
						<p>2,8312</p>

					</td>
					<td width="142">
						<p>$4,3476&nbsp;</p>

					</td>
				</tr>
				<tr>
					<td width="66">
						<p>27</p>
					</td>
					<td width="97">
						<p>维克弗里斯特大学</p>
					</td>
					<td width="116">
						<p>Wake Forest University</p>
					</td>
					<td width="86">
						<p>4871&nbsp;</p>
					</td>
					<td width="142">
						<p>$4,9308&nbsp;</p>
					</td>
				</tr>
				<tr>
					<td width="66">
						<p>30</p>
					</td>
					<td width="97">
						<p>北卡罗来纳大学教堂山分校</p>
					</td>
					<td width="116">
						<p>University of North Carolina&ndash;Chapel Hill</p>
					</td>
					<td width="86">
						<p>1,8415</p>

					</td>
					<td width="142">
						<p>$3,3916</p>

					</td>
				</tr>
				<tr>
					<td width="66">
						<p>31</p>
					</td>
					<td width="97">
						<p>波士顿学院</p>
					</td>
					<td width="116">
						<p>Boston College</p>
					</td>
					<td width="86">
						<p>9192</p>
					</td>
					<td width="142">
						<p>$5,1296</p>
					</td>
				</tr>
				<tr>
					<td width="66">
						<p>32</p>
					</td>
					<td width="97">
						<p>威廉玛丽学院</p>
					</td>
					<td width="116">
						<p>College of William and Mary</p>
					</td>
					<td width="86">
						<p>6301&nbsp;</p>

					</td>
					<td width="142">
						<p>$4,1718</p>

					</td>
				</tr>
				<tr>
					<td width="66">
						<p>32</p>
					</td>
					<td width="97">
						<p>罗彻斯特大学</p>
					</td>
					<td width="116">
						<p>University of Rochester</p>
					</td>
					<td width="86">
						<p>6304</p>
					</td>
					<td width="142">
						<p>$5,0142&nbsp;</p>
					</td>
				</tr>
				<tr>
					<td width="66">
						<p>34</p>
					</td>
					<td width="97">
						<p>布兰迪斯大学</p>
					</td>
					<td width="116">
						<p>Brandeis University</p>
					</td>
					<td width="86">
						<p>3621</p>
					</td>
					<td width="142">
						<p>$5,1570</p>
					</td>
				</tr>
				<tr>
					<td width="66">
						<p>34</p>
					</td>
					<td width="97">
						<p>佐治亚理工学院</p>
					</td>
					<td width="116">
						<p>Georgia Institute of Technology</p>
					</td>
					<td width="86">
						<p>1,5142&nbsp;</p>

					</td>
					<td width="142">
						<p>$3,2404&nbsp;</p>

					</td>
				</tr>
				<tr>
					<td width="66">
						<p>36</p>
					</td>
					<td width="97">
						<p>纽约大学</p>
					</td>
					<td width="116">
						<p>New York University</p>
					</td>
					<td width="86">
						<p>2,5722</p>
					</td>
					<td width="142">
						<p>$4,9062</p>
					</td>
				</tr>
				<tr>
					<td width="66">
						<p>37</p>
					</td>
					<td width="97">
						<p>凯斯西储大学</p>
					</td>
					<td width="116">
						<p>Case Western Reserve University</p>
					</td>
					<td width="86">
						<p>5121&nbsp;</p>

					</td>
					<td width="142">
						<p>$4,6006</p>

					</td>
				</tr>
				<tr>
					<td width="66">
						<p>37</p>
					</td>
					<td width="97">
						<p>加州大学圣巴巴拉分校</p>
					</td>
					<td width="116">
						<p>University of California&ndash;Santa Barbara</p>
					</td>
					<td width="86">
						<p>2,0607</p>

					</td>
					<td width="142">

						<p>$4,0704</p>

					</td>
				</tr>
				<tr>
					<td width="66">
						<p>39</p>
					</td>
					<td width="97">
						<p>波士顿大学</p>
					</td>
					<td width="116">
						<p>Boston University</p>
					</td>
					<td width="86">
						<p>1,7932</p>
					</td>
					<td width="142">
						<p>$50,240</p>
					</td>
				</tr>
				<tr>
					<td width="66">
						<p>39</p>
					</td>
					<td width="97">
						<p>东北大学</p>
					</td>
					<td width="116">
						<p>Northeastern University</p>
					</td>
					<td width="86">
						<p>1,3697</p>
					</td>
					<td width="142">
						<p>$4,7655</p>
					</td>
				</tr>
				<tr>
					<td width="66">
						<p>39</p>
					</td>
					<td width="97">
						<p>伦斯勒理工学院</p>
					</td>
					<td width="116">
						<p>Rensselaer Polytechnic Institute</p>
					</td>
					<td width="86">
						<p>5864</p>

					</td>
					<td width="142">
						<p>$5,0797</p>

					</td>
				</tr>
				<tr>
					<td width="66">
						<p>39</p>
					</td>
					<td width="97">
						<p>杜兰大学</p>
					</td>
					<td width="116">
						<p>Tulane University</p>
					</td>
					<td width="86">
						<p>6662</p>
					</td>
					<td width="142">
						<p>$5,1010&nbsp;</p>
					</td>
				</tr>
				<tr>
					<td width="66">
						<p>39</p>
					</td>
					<td width="97">
						<p>加州大学欧文分校</p>
					</td>
					<td width="116">
						<p>University of California&ndash;Irvine</p>
					</td>
					<td width="86">
						<p>2,5256&nbsp;</p>

					</td>
					<td width="142">
						<p>$3,9458</p>

					</td>
				</tr>
				<tr>
					<td width="66">
						<p>44</p>
					</td>
					<td width="97">
						<p>里海大学</p>
					</td>
					<td width="116">
						<p>Lehigh University</p>
					</td>
					<td width="86">
						<p>5075</p>
					</td>
					<td width="142">
						<p>$4,8320</p>
					</td>
				</tr>
				<tr>
					<td width="66">
						<p>44</p>
					</td>
					<td width="97">
						<p>加州大学戴维斯分校</p>
					</td>
					<td width="116">
						<p>University of California&ndash;Davis</p>
					</td>
					<td width="86">
						<p>2,8384</p>
					</td>
					<td width="142">
						<p>$4,0728</p>
					</td>
				</tr>
				<tr>
					<td width="66">
						<p>44</p>
					</td>
					<td width="97">
						<p>加州大学圣地亚哥分校</p>
					</td>
					<td width="116">
						<p>University of California&ndash;San Diego</p>
					</td>
					<td width="86">
						<p>2,6590</p>

					</td>
					<td width="142">
						<p>$4,1387</p>

					</td>
				</tr>
				<tr>
					<td width="66">
						<p>44</p>
					</td>
					<td width="97">
						<p>伊利诺伊大学香槟分校</p>
					</td>
					<td width="116">
						<p>University of Illinois&ndash;Urbana-Champaign</p>
					</td>
					<td width="86">
						<p>3,3368&nbsp;</p>

					</td>
					<td width="142">
						<p>$3,1320</p>

					</td>
				</tr>
				<tr>
					<td width="66">
						<p>44</p>
					</td>
					<td width="97">
						<p>迈阿密大学</p>
					</td>
					<td width="116">
						<p>University of Miami</p>
					</td>
					<td width="86">
						<p>1,1122</p>
					</td>
					<td width="142">
						<p>$4,7004&nbsp;</p>
					</td>
				</tr>
				<tr>
					<td width="66">
						<p>44</p>
					</td>
					<td width="97">
						<p>威斯康辛大学麦迪逊分校</p>
					</td>
					<td width="116">
						<p>University of Wisconsin&ndash;Madison</p>
					</td>
					<td width="86">
						<p>3,1662</p>

					</td>
					<td width="142">
						<p>$3,2738</p>

					</td>
				</tr>
				<tr>
					<td width="66">
						<p>50</p>
					</td>
					<td width="97">
						<p>宾州州立大学帕克分校</p>
					</td>
					<td width="116">
						<p>Pennsylvania State University&ndash;University Park</p>
					</td>
					<td width="86">
						<p>4,0742</p>

					</td>
					<td width="142">
						<p>$3,2382</p>

					</td>
				</tr>
				<tr>
					<td width="66">
						<p>50</p>
					</td>
					<td width="97">
						<p>佩珀代因大学</p>
					</td>
					<td width="116">
						<p>Pepperdine University</p>
					</td>
					<td width="86">
						<p>3533</p>
					</td>
					<td width="142">
						<p>$5,0022&nbsp;</p>
					</td>
				</tr>
				<tr>
					<td width="66">
						<p>50</p>
					</td>
					<td width="97">
						<p>佛罗里达大学</p>
					</td>
					<td width="116">
						<p>University of Florida</p>
					</td>
					<td width="86">
						<p>3,5043&nbsp;</p>
					</td>
					<td width="142">
						<p>$2,8666&nbsp;</p>
					</td>
				</tr>
				<tr>
					<td width="66">
						<p>50</p>
					</td>
					<td width="97">
						<p>维拉诺瓦大学</p>
					</td>
					<td width="116">
						<p>Villanova University</p>
					</td>
					<td width="86">
						<p>6994</p>
					</td>
					<td width="142">
						<p>$4,9280</p>
					</td>
				</tr>
				<tr>
					<td width="66">
						<p>54</p>
					</td>
					<td width="97">
						<p>俄亥俄州立大学</p>
					</td>
					<td width="116">
						<p>Ohio State University&ndash;Columbus</p>
					</td>
					<td width="86">
						<p>4,5289&nbsp;</p>

					</td>
					<td width="142">
						<p>$2,8229</p>

					</td>
				</tr>
				<tr>
					<td width="66">
						<p>54</p>
					</td>
					<td width="97">
						<p>华盛顿大学（西雅图）</p>
					</td>
					<td width="116">
						<p>University of Washington</p>
					</td>
					<td width="86">
						<p>3,1063</p>

					</td>
					<td width="142">
						<p>$3,4791</p>

					</td>
				</tr>
				<tr>
					<td width="66">
						<p>56</p>
					</td>
					<td width="97">
						<p>乔治华盛顿大学</p>
					</td>
					<td width="116">
						<p>George Washington University</p>
					</td>
					<td width="86">
						<p>1,1157&nbsp;</p>

					</td>
					<td width="142">
						<p>$5,1950</p>

					</td>
				</tr>
				<tr>
					<td width="66">
						<p>56</p>
					</td>
					<td width="97">
						<p>南卫理公会大学</p>
					</td>
					<td width="116">
						<p>Southern Methodist University</p>
					</td>
					<td width="86">
						<p>6411</p>

					</td>
					<td width="142">
						<p>$5,0358&nbsp;</p>

					</td>
				</tr>
				<tr>
					<td width="66">
						<p>56</p>
					</td>
					<td width="97">
						<p>佐治亚大学</p>
					</td>
					<td width="116">
						<p>University of Georgia</p>
					</td>
					<td width="86">
						<p>2,7547&nbsp;</p>
					</td>
					<td width="142">
						<p>$2,9844</p>
					</td>
				</tr>
				<tr>
					<td width="66">
						<p>56</p>
					</td>
					<td width="97">
						<p>德克萨斯大学奥斯汀分校</p>
					</td>
					<td width="116">
						<p>University of Texas&ndash;Austin</p>
					</td>
					<td width="86">
						<p>3,9619</p>

					</td>
					<td width="142">
						<p>$3,4676</p>

					</td>
				</tr>
				<tr>
					<td width="66">
						<p>60</p>
					</td>
					<td width="97">
						<p>福特汉姆大学</p>
					</td>
					<td width="116">
						<p>Fordham University</p>
					</td>
					<td width="86">
						<p>8855</p>
					</td>
					<td width="142">
						<p>$4,7317</p>
					</td>
				</tr>
				<tr>
					<td width="66">
						<p>60</p>
					</td>
					<td width="97">
						<p>普渡大学西拉法叶校区</p>
					</td>
					<td width="116">
						<p>Purdue University&ndash;West Lafayette</p>
					</td>
					<td width="86">
						<p>2,9497</p>

					</td>
					<td width="142">
						<p>$2,8804</p>
					</td>
				</tr>
				<tr>
					<td width="66">
						<p>60</p>
					</td>
					<td width="97">
						<p>雪城大学</p>
					</td>
					<td width="116">
						<p>Syracuse University</p>
					</td>
					<td width="86">
						<p>1,5196</p>
					</td>
					<td width="142">
						<p>$4,5022</p>
					</td>
				</tr>
				<tr>
					<td width="66">
						<p>60</p>
					</td>
					<td width="97">
						<p>康涅狄格大学</p>
					</td>
					<td width="116">
						<p>University of Connecticut</p>
					</td>
					<td width="86">
						<p>1,8826</p>
					</td>
					<td width="142">
						<p>$3,5858</p>
					</td>
				</tr>
				<tr>
					<td width="66">
						<p>60</p>
					</td>
					<td width="97">
						<p>马里兰大学帕克分校</p>
					</td>
					<td width="116">
						<p>University of Maryland&ndash;College Park</p>
					</td>
					<td width="86">
						<p>2,7443</p>

					</td>
					<td width="142">
						<p>$3,2045</p>

					</td>
				</tr>
				<tr>
					<td width="66">
						<p>60</p>
					</td>
					<td width="97">
						<p>伍斯特理工学院</p>
					</td>
					<td width="116">
						<p>Worcester Polytechnic Institute</p>
					</td>
					<td width="86">
						<p>4299&nbsp;</p>

					</td>
					<td width="142">
						<p>$4,6994</p>

					</td>
				</tr>
				<tr>
					<td width="66">
						<p>66</p>
					</td>
					<td width="97">
						<p>克莱姆森大学</p>
					</td>
					<td width="116">
						<p>Clemson University</p>
					</td>
					<td width="86">
						<p>1,8016</p>
					</td>
					<td width="142">
						<p>$3,2796</p>
					</td>
				</tr>
				<tr>
					<td width="66">
						<p>66</p>
					</td>
					<td width="97">
						<p>叶史瓦大学</p>
					</td>
					<td width="116">
						<p>Yeshiva University</p>
					</td>
					<td width="86">
						<p>2744</p>
					</td>
					<td width="142">
						<p>$4,0670</p>
					</td>
				</tr>
				<tr>
					<td width="66">
						<p>68</p>
					</td>
					<td width="97">
						<p>杨百翰大学</p>
					</td>
					<td width="116">
						<p>Brigham Young University&ndash;Provo</p>
					</td>
					<td width="86">
						<p>3,0221</p>

					</td>
					<td width="142">
						<p>$1,0920</p>

					</td>
				</tr>
				<tr>
					<td width="66">
						<p>68</p>
					</td>
					<td width="97">
						<p>匹兹堡大学</p>
					</td>
					<td width="116">
						<p>University of Pittsburgh</p>
					</td>
					<td width="86">
						<p>1,8908</p>
					</td>
					<td width="142">
						<p>$2,9758</p>
					</td>
				</tr>
				<tr>
					<td width="66">
						<p>70</p>
					</td>
					<td width="97">
						<p>新泽西州立罗格斯大学</p>
					</td>
					<td width="116">
						<p>Rutgers, the State University of New Jersey&ndash;New Brunswick</p>
					</td>
					<td width="86">
						<p>3,5484</p>

					</td>
					<td width="142">
						<p>$3,0023</p>

					</td>
				</tr>
				<tr>
					<td width="66">
						<p>71</p>
					</td>
					<td width="97">
						<p>贝勒大学</p>
					</td>
					<td width="116">
						<p>Baylor University</p>
					</td>
					<td width="86">
						<p>1,4189</p>
					</td>
					<td width="142">
						<p>$4,2006</p>
					</td>
				</tr>
				<tr>
					<td width="66">
						<p>71</p>
					</td>
					<td width="97">
						<p>斯蒂文斯理工学院</p>
					</td>
					<td width="116">
						<p>Stevens Institute of Technology</p>
					</td>
					<td width="86">
						<p>2873</p>

					</td>
					<td width="142">
						<p>$4,8838</p>

					</td>
				</tr>
				<tr>
					<td width="66">
						<p>71</p>
					</td>
					<td width="97">
						<p>明尼苏达大学</p>
					</td>
					<td width="116">
						<p>University of Minnesota&ndash;Twin Cities</p>
					</td>
					<td width="86">
						<p>3,4071</p>

					</td>
					<td width="142">
						<p>$2,2210</p>

					</td>
				</tr>
				<tr>
					<td width="66">
						<p>74</p>
					</td>
					<td width="97">
						<p>美利坚大学</p>
					</td>
					<td width="116">
						<p>American University</p>
					</td>
					<td width="86">
						<p>7909</p>
					</td>
					<td width="142">
						<p>$4,4853</p>
					</td>
				</tr>
				<tr>
					<td width="66">
						<p>74</p>
					</td>
					<td width="97">
						<p>克拉克大学</p>
					</td>
					<td width="116">
						<p>Clark University</p>
					</td>
					<td width="86">
						<p>2397</p>
					</td>
					<td width="142">
						<p>$4,3150</p>
					</td>
				</tr>
				<tr>
					<td width="66">
						<p>74</p>
					</td>
					<td width="97">
						<p>德州农工大学</p>
					</td>
					<td width="116">
						<p>Texas A&amp;M University&ndash;College Station</p>
					</td>
					<td width="86">
						<p>4,8960&nbsp;</p>

					</td>
					<td width="142">
						<p>$2,8768&nbsp;</p>

					</td>
				</tr>
				<tr>
					<td width="66">
						<p>74</p>
					</td>
					<td width="97">
						<p>麻省大学-阿姆斯特分校</p>
					</td>
					<td width="116">
						<p>University of Massachusetts&ndash;Amherst</p>
					</td>
					<td width="86">
						<p>2,2748</p>

					</td>
					<td width="142">
						<p>$3,0123</p>

					</td>
				</tr>
				<tr>
					<td width="66">
						<p>74</p>
					</td>
					<td width="97">
						<p>弗吉尼亚理工大学</p>
					</td>
					<td width="116">
						<p>Virginia Tech</p>
					</td>
					<td width="86">
						<p>2,5384</p>
					</td>
					<td width="142">
						<p>$2,9371</p>
					</td>
				</tr>
				<tr>
					<td width="66">
						<p>79</p>
					</td>
					<td width="97">
						<p>迈阿密大学牛津校区</p>
					</td>
					<td width="116">
						<p>Miami University&ndash;Oxford</p>
					</td>
					<td width="86">
						<p>1,6387&nbsp;</p>

					</td>
					<td width="142">
						<p>$3,1592</p>

					</td>
				</tr>
				<tr>
					<td width="66">
						<p>79</p>
					</td>
					<td width="97">
						<p>加州大学圣克鲁兹分校</p>
					</td>
					<td width="116">
						<p>University of California&ndash;Santa Cruz</p>
					</td>
					<td width="86">
						<p>1,6231&nbsp;</p>

					</td>
					<td width="142">
						<p>$4,0241</p>

					</td>
				</tr>
				<tr>
					<td width="66">
						<p>79</p>
					</td>
					<td width="97">
						<p>特拉华大学</p>
					</td>
					<td width="116">
						<p>University of Delaware</p>
					</td>
					<td width="86">
						<p>1,8322</p>
					</td>
					<td width="142">
						<p>$3,1420</p>
					</td>
				</tr>
				<tr>
					<td width="66">
						<p>82</p>
					</td>
					<td width="97">
						<p>科罗拉多矿业大学</p>
					</td>
					<td width="116">
						<p>Colorado School of Mines</p>
					</td>
					<td width="86">
						<p>4608</p>
					</td>
					<td width="142">
						<p>$3,4828</p>
					</td>
				</tr>
				<tr>
					<td width="66">
						<p>82</p>
					</td>
					<td width="97">
						<p>密歇根州立大学</p>
					</td>
					<td width="116">
						<p>Michigan State University</p>
					</td>
					<td width="86">
						<p>3,9143</p>
					</td>
					<td width="142">
						<p>$3,9090</p>
					</td>
				</tr>
				<tr>
					<td width="66">
						<p>82</p>
					</td>
					<td width="97">
						<p>德克萨斯基督教大</p>
					</td>
					<td width="116">
						<p>Texas Christian University</p>
					</td>
					<td width="86">
						<p>8894</p>

					</td>
					<td width="142">
						<p>$4,2670</p>

					</td>
				</tr>
				<tr>
					<td width="66">
						<p>82</p>
					</td>
					<td width="97">
						<p>爱荷华大学</p>
					</td>
					<td width="116">
						<p>University of Iowa</p>
					</td>
					<td width="86">
						<p>2,3357&nbsp;</p>
					</td>
					<td width="142">
						<p>$2,8413</p>
					</td>
				</tr>
				<tr>
					<td width="66">
						<p>86</p>
					</td>
					<td width="97">
						<p>纽约州立大学宾汉姆顿分校</p>
					</td>
					<td width="116">
						<p>Binghamton University&ndash;SUNY</p>
					</td>
					<td width="86">
						<p>1,3491</p>

					</td>
					<td width="142">
						<p>$2,2164</p>

					</td>
				</tr>
				<tr>
					<td width="66">
						<p>86</p>
					</td>
					<td width="97">
						<p>印第安纳大学伯明顿分校</p>
					</td>
					<td width="116">
						<p>Indiana University&ndash;Bloomington</p>
					</td>
					<td width="86">
						<p>3,8364&nbsp;</p>

					</td>
					<td width="142">
						<p>$3,4246&nbsp;</p>

					</td>
				</tr>
				<tr>
					<td width="66">
						<p>86</p>
					</td>
					<td width="97">
						<p>马凯特大学</p>
					</td>
					<td width="116">
						<p>Marquette University</p>
					</td>
					<td width="86">
						<p>8334&nbsp;</p>
					</td>
					<td width="142">
						<p>$3,8470</p>
					</td>
				</tr>
				<tr>
					<td width="66">
						<p>86</p>
					</td>
					<td width="97">
						<p>丹佛大学</p>
					</td>
					<td width="116">
						<p>University of Denver</p>
					</td>
					<td width="86">
						<p>5758</p>
					</td>
					<td width="142">
						<p>$4,6362</p>
					</td>
				</tr>
				<tr>
					<td width="66">
						<p>86</p>
					</td>
					<td width="97">
						<p>圣地亚哥大学</p>
					</td>
					<td width="116">
						<p>University of San Diego</p>
					</td>
					<td width="86">
						<p>5647</p>
					</td>
					<td width="142">
						<p>$4,6140</p>
					</td>
				</tr>
				<tr>
					<td width="66">
						<p>86</p>
					</td>
					<td width="97">
						<p>塔尔萨大学</p>
					</td>
					<td width="116">
						<p>University of Tulsa</p>
					</td>
					<td width="86">
						<p>3478</p>
					</td>
					<td width="142">
						<p>$3,8796</p>
					</td>
				</tr>
				<tr>
					<td width="66">
						<p>92</p>
					</td>
					<td width="97">
						<p>佛罗里达州立大学</p>
					</td>
					<td width="116">
						<p>Florida State University</p>
					</td>
					<td width="86">
						<p>3,2706</p>
					</td>
					<td width="142">
						<p>$2,1673</p>
					</td>
				</tr>
				<tr>
					<td width="66">
						<p>92</p>
					</td>
					<td width="97">
						<p>北卡罗来纳州立大学</p>
					</td>
					<td width="116">
						<p>North Carolina State University&ndash;Raleigh</p>
					</td>
					<td width="86">
						<p>2,4111</p>

					</td>
					<td width="142">
						<p>$2,6399</p>

					</td>
				</tr>
				<tr>
					<td width="66">
						<p>92</p>
					</td>
					<td width="97">
						<p>科罗拉多大学波德分校</p>
					</td>
					<td width="116">
						<p>University of Colorado&ndash;Boulder</p>
					</td>
					<td width="86">
						<p>2,7010&nbsp;</p>

					</td>
					<td width="142">
						<p>$3,5079</p>

					</td>
				</tr>
				<tr>
					<td width="66">
						<p>92</p>
					</td>
					<td width="97">
						<p>佛蒙特大学</p>
					</td>
					<td width="116">
						<p>University of Vermont</p>
					</td>
					<td width="86">
						<p>1,0973</p>
					</td>
					<td width="142">
						<p>$4,0364</p>
					</td>
				</tr>
				<tr>
					<td width="66">
						<p>96</p>
					</td>
					<td width="97">
						<p>德雷塞尔大学</p>
					</td>
					<td width="116">
						<p>Drexel University</p>
					</td>
					<td width="86">
						<p>1,4138&nbsp;</p>
					</td>
					<td width="142">
						<p>$5,1030</p>
					</td>
				</tr>
				<tr>
					<td width="66">
						<p>96</p>
					</td>
					<td width="97">
						<p>圣路易斯大学</p>
					</td>
					<td width="116">
						<p>St. Louis University</p>
					</td>
					<td width="86">
						<p>8248</p>
					</td>
					<td width="142">
						<p>$4,0726</p>
					</td>
				</tr>
				<tr>
					<td width="66">
						<p>96</p>
					</td>
					<td width="97">
						<p>纽约州立大学石溪分校</p>
					</td>
					<td width="116">
						<p>Stony Brook University&ndash;SUNY</p>
					</td>
					<td width="86">
						<p>1,6831</p>

					</td>
					<td width="142">
						<p>$2,6266</p>

					</td>
				</tr>
				<tr>
					<td width="66">
						<p>99</p>
					</td>
					<td width="97">
						<p>奥本大学</p>
					</td>
					<td width="116">
						<p>Auburn University</p>
					</td>
					<td width="86">
						<p>2,1786&nbsp;</p>
					</td>
					<td width="142">
						<p>$2,8840</p>
					</td>
				</tr>
				<tr>
					<td width="66">
						<p>99</p>
					</td>
					<td width="97">
						<p>芝加哥洛约拉大学</p>
					</td>
					<td width="116">
						<p>Loyola University Chicago</p>
					</td>
					<td width="86">
						<p>1,1079</p>

					</td>
					<td width="142">
						<p>$4,1384</p>

					</td>
				</tr>
				<tr>
					<td width="66">
						<p>99</p>
					</td>
					<td width="97">
						<p>纽约州立大学环境科学与林业学院</p>
					</td>
					<td width="116">
						<p>SUNY College of Environmental Science and Forestry</p>
					</td>
					<td width="86">
						<p>1839</p>

					</td>
					<td width="142">
						<p>$1,7620</p>

					</td>
				</tr>
				<tr>
					<td width="66">
						<p>99</p>
					</td>
					<td width="97">
						<p>水牛城大学</p>
					</td>
					<td width="116">
						<p>University at Buffalo--SUNY</p>
					</td>
					<td width="86">
						<p>1,9951</p>

					</td>
					<td width="142">
						<p>$2,6270</p>

					</td>
				</tr>
			</tbody>
		</table>
		<img class = "img-responsive" alt="Responsive image"" src="{% static 'images/article1_1.png' %}"/>

	</div>

</div>


{% include "footer.html" %}

{% endblock %}