{% load static %}

<div>
	<a href="/article/7">
	<div id = "article7" class = "article-small"> 
		<h3 class="text-center">华盛顿大学(University of Washington)国际转学生招生简章</h3>
		<h5>  此简章均为涉及转学申请的内容，直接申请本科一年级的学生请参照华盛顿大学国际生招生简章</h5>
		<hr>
		<img class = "img-responsive center" alt="Responsive image" src="{% static 'images/article7_small_1.jpg' %}"/>
		<br>
		<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;华盛顿大学转学评估方法：全方位考察(Holistic Review): 全方位考察是对每位转学申请者的学业表现、个人特长及成就的全方位评估......华盛顿大学遵循以下考察目的和优先条件，目的是为来自华盛顿州各个社区大学和技术学院的学生提供更有利条件......</p>
	</div>
	</a>
</div>