{% extends "basic.html" %}

{% load static %}

{% block title %}

<title>国内升学 VS 出国留学 — 后高考时期的华丽转身，络雅教育帮您实现</title>

{% endblock %}

{% block content %}

<div class = "container-white container-fluid">

	<div class = "container">
		<div class="social-share" style="text-align: right"></div>

		<h2><img class="big-logo" src="{% static 'images/logo.png' %}" />   <a href="/">络雅教育</a></h2>
		<br>
		<h3 class="text-center">国内升学 VS 出国留学</h3>
		<h4 class="text-center">后高考时期的华丽转身，络雅教育帮您实现</h4>
		<hr>



		<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;又一年高考结束，十年磨一剑的成果已然展露。然而对于许多最终结果不满意的学生和家长，对于是否在国内升学还有许多需要考量的因素：成绩不够理想的学生是否要复读？被调剂到不合适的专业，去还是不去？如今已不再是一考定终生的时代，面对种种问题，选择出国留学不失为一条很好的道路，然而这条路要怎么走，却是有很多技巧可寻。</p>



		<div class = "row">

			<div class = "col-lg-4 col-sm-12">
				<br>
				<img class = "img-responsive" alt="Responsive image"" src="{% static 'images/article2_2.png' %}"/>
			</div>

			<div class = "col-lg-8 col-sm-12">

				<h4>高考后美国留学的三种途径</h4>

				<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;对于高考后准备出国的学生来说，第一种方法是踏实在国内准备一年，准备SAT(美国大学入学考试)和雅思、托福等语言测试。这种方法的劣势就是学生要浪费一年的时间来进行准备。第二种方法，立刻进行SAT和托福考试，进行大学申请。这种方法相对比较危险，因为准备和备考时间过短，学生可能会因为最终达不到学校的录取要求而未能被录取。第三种方法，则是可以先申请社区学院，然后从社区学院转入四年制大学。</p>

				<h4>什么是社区学院</h4>
				<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;社区学院有被称为两年制基础大学。社区学院中教授的课程等同于美国四年制大学中的通识课程，只因其不是研究型大学，所以少有排名。然而，社区学院中的通识基础课程是被四年制大学所认可的，因此转学时可将社区学院中所修学分带入大学。通常，学生通过社区学院完成两年的本科通识课程，再转入综合性四年制大学，完成后两年的专业课程，拿到本科学位。根据美国大学联合会的统计，美国有46%的在校大学生，都是由社区学院转入。</p>
			</div>

		</div>

		<h4>对社区学院的误解</h4>
		<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;很多人不了解社区学院，对其教学质量和师生构成也有很多误解。一般来讲，由于其开放性和较强的应用性，好的社区学院通过社会招聘，往往会聘请到企业高管和学术精英来授课。</p>

		<div class = "row">

			<div class = "col-lg-6 col-sm-12">
					<h4>高考后时期申请社区大学的优势</h4>
					<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;由于社区大学的学制与四年制大学不同，学校在每个学期都会开放招生，高考结束后，学生便可以申请当年秋季入学；并且因为社区大学的申请流程简单，录取要求相对较低，对于高考结束后希望马上出国留学的学生来说是非常有利的条件。</p>
					<p>学生在社区大学熟悉美国的生活和学习的同时，可以利用社区大学学习的时间为自己的想要转入的大学和专业做准备。除此之外，许多社区大学与多所大学都有合作协议，可以在申请到社区大学的同时，拿到四年制大学的有条件录取，如果学生在社区大学学习期间成绩达到要求，则在两年后可以直接进入四年制大学完成本科学位，且社区大学的学费较四年制大学低很多，收费更为合理。</p>
					<p>关于更多美国留学资讯，请关注络雅教育官方网站(<a href = "/">loyaeducation.com</a>)。</p>
				
			</div>
			<div class = "col-lg-6 col-sm-12">
				<br>
				<img class = "img-responsive" alt="Responsive image"" src="{% static 'images/article2_3.png' %}"/>

			</div>
		</div>

		<br>
		<br>


	</div>

</div>


{% include "footer.html" %}

{% endblock %}


{% block add_js %}
<script src="{% static 'scripts/jquery.share.min.js' %}"></script>

{% endblock %}