{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	{% block title %}
	<title>美国留学，初高中申请，大学申请 | 络雅教育 - 西雅图专业权威留学机构</title>
	{% endblock %}
	
	{% block keywords %}
	<meta name="keywords" content="美国留学,留学,西雅图留学,美国高中申请,美国大学申请,开除紧急应对,西雅图高中申请,西雅图大学申请,美国本土留学机构,美国大学开除,GPA低,出勤率低,身份激活,本科申请,本科转学,研究生申请,研究生转学,社区大学">
	{% endblock %}

	<meta name="description" content="我们拥有最靠谱的留学团队，在美丽的西雅图做最走心的留学服务。服务价格公开透明，杜绝一切不合理的二次收费。">

	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/style1.2.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'css/share.min.css' %}" >
	<link rel="stylesheet" type="text/css" href="{% static 'css/jquery-ui.min.css' %}" />
	<link rel="shortcut icon" type="image/ico"   href="{% static 'images/logo.png' %}" />

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-105362376-1', 'auto');
  ga('send', 'pageview');

</script>



</head>



<body data-spy="scroll" data-target="#header-navbar">
	{% block content %}
	{% endblock %}

			<script src="{% static 'scripts/jquery.min.js' %}"></script>
			<script src="{% static 'scripts/bootstrap.min.js' %}"></script>
			<script src="{% static 'scripts/jquery-ui.min.js' %}"></script>
			
	{% block add_js %}
	{% endblock %}


</body>
</html>