{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>络雅教育咨询</title>
	<meta name="keywords" content="美国留学,留学,西雅图留学,美国高中申请,美国大学申请,开除紧急应对,西雅图高中申请,西雅图大学申请,美国本土留学机构,美国大学开除,GPA低,出勤率低,身份激活,本科申请,本科转学,研究生申请,研究生转学,社区大学">

	<meta name="description" content="美国络雅教育总部位于华盛顿州西雅图，主营业务集美国初/高中 留学申请 及转学、紧急学术应对、美国本科/研究生申请和转学、学术辅导、美国寄宿家庭服务。">

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'css/jquery-ui.min.css' %}" />

</head>



<body data-spy="scroll" data-target="#header-navbar">
	{% block content %}
	{% endblock %}

			<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
			<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
			<script src="{% static 'scripts/jquery-ui.min.js' %}"></script>
			
	{% block add_js %}
	{% endblock %}


</body>
</html>