{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>美国留学，初高中申请，大学申请 | 络雅教育 - 专业权威本土美国留学机构</title>
	<meta name="keywords" content="美国留学,留学,西雅图留学,美国高中申请,美国大学申请,开除紧急应对,西雅图高中申请,西雅图大学申请,美国本土留学机构,美国大学开除,GPA低,出勤率低,身份激活,本科申请,本科转学,研究生申请,研究生转学,社区大学">

	<meta name="description" content="美国络雅教育总部位于华盛顿州西雅图，主营业务集美国初/高中 留学申请 及转学、紧急学术应对、美国本科/研究生申请和转学、学术辅导、美国寄宿家庭服务。">

	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'css/jquery-ui.min.css' %}" />
	<link rel="shortcut icon" type="image/ico"   href="{% static 'images/logo.png' %}" />

<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?9db1418ec54e9d9164b383896a00bde3";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>



</head>



<body data-spy="scroll" data-target="#header-navbar">

	<img src="{% static 'images/logo.jpg' %}" width="0" height="0" />
	{% block content %}
	{% endblock %}

			<script src="{% static 'scripts/jquery.min.js' %}"></script>
			<script src="{% static 'scripts/bootstrap.min.js' %}"></script>
			<script src="{% static 'scripts/jquery-ui.min.js' %}"></script>
			
	{% block add_js %}
	{% endblock %}


</body>
</html>