{% extends "basic.html" %}

{% load static %}

{% block title %}

<title>络雅教育本科及社区大学申请</title>

{% endblock %}

{% block keywords %}

<meta name="keywords" content="美国留学,留学,西雅图留学,西雅图高中申请,美国本土留学机构,GPA低,出勤率低,本科申请,常青藤大学,社区大学,高中联读,家庭寄宿,开除应对">

{% endblock %}

{% block content %}
<br>
<br>
<br>
<div id="section1"  class = "container-fluid container-white">

	<div class = "web-section container">

		<div class ="section-header" class="row">
			<t2 class="section-title">大学本科及社区大学申请</t2>
			<hr>
		</div>
		<div class = "row">
			<div class = "col-xs-12">
				<h4 class ="text-center">既是留学生涯的起点，更是旅途中的避风港。</h4>

				<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;你的申请不是一串数字和拼凑在一起的单词，更不是冷冰冰、黑白色的套路。几乎所有美国顶尖名校都越来越对申请者进行全方位考察(Holistic Review)的时代，发现自我、展现独特魅力成为了申请中最重要的元素。找到每位学生的闪光点、向学校呈现多彩又全面的你、用每个单词每个数字体组成一份有个人特色和温度的申请，是我们一直坚守的原则。点滴信任从这里开始&nbsp;<span class="glyphicon glyphicon-hand-right" aria-hidden="true"></span>&nbsp;<a class="modal-trigger" href="#" role="button" data-toggle="modal" data-target="#consult-modal">免费咨询</a>。</p>

				<br>
			</div>

		</div>


		<div class = "row">
			<div class="col-lg-3 col-sm-6 col-xs-12 text-center">
								
				<img class = "img-responsive center" alt="Responsive image" src="{% static 'images/university_app.png' %}" >
				<h4>本科申请</h4>
				<p>详尽的学校申请要求、完整的申请</p>
				<p>规划，Dream School不是梦。</p>
									
			</div>

			<div class="col-lg-3 col-sm-6 col-xs-12 text-center">
				<img class = "img-responsive center" alt="Responsive image" src="{% static 'images/university_trans.png' %}" >
				<h4>社区大学转四年制本科</h4>
				<p>转学要求全解析，学分转换最大</p>
				<p>化，与本科院校无缝对接。</p>
			</div>

			<a href = "#studyplan"><div class="col-lg-3 col-sm-6 col-xs-12 text-center">
				<img class = "img-responsive center" alt="Responsive image" src="{% static 'images/college_app.png' %}" >
				<h4>社区大学及语言学校申请</h4>
				<p>零语言要求，多所转学协议合作院</p>
				<p>校，为每位学生实现留学梦想。</p>
			</div></a>

			<div class="col-lg-3 col-sm-6 col-xs-12 text-center">
				<img class = "img-responsive center" alt="Responsive image" src="{% static 'images/identity_recover.png' %}" >
				<h4>身份恢复及开除紧急处理</h4>
				<p>由多个紧急案例总结出的最靠谱</p>
				<p>经验，帮助学生重返校园。</p>
			</div>
		</div>

		<div class = "text-center">
		<br>
		<br>
			<button class="btn btn-green btn-200 modal-trigger" data-toggle="modal" data-target="#consult-modal">免费咨询</button>
		</div>
		<br>

	</div>

</div>

<div class = "container-fluid">
	<div class = "web-section container">
		<div class="section-header" class="row">
			<t2 class="section-title">申请流程</t2>
			<hr>
		</div>
		<div class = "row">
			<img class = "img-responsive center-block" alt="Responsive image" src="{% static 'images/college_timeline.png' %}" >
		</div>
	</div>
</div>

<div class="container-fluid container-white vip-back">
	<div class = "web-section container">

		<div class="section-header" class="row">
			<t2 class="section-title">成功案例</t2>
			<hr>
		</div>

		<div class ="visible-lg">
			<div class = "row">
				<div class ="col-lg-offset-1 col-lg-9 success-case">
					<img class = "img-responsive img-inline img-circle" align = "left" alt="Responsive image" src="{% static 'images/college_case1.png' %}" >

					<div class= "col-lg-4 fix-height-mid">
						<p><span class="glyphicon glyphicon-user" aria-hidden="true"></span>&nbsp;T同学（高中直申本科）</p>
						<div class = "row">
							<div class = "col-lg-6">
							<p><span class="glyphicon glyphicon-tasks" aria-hidden="true"></span>&nbsp;SAT：1200</p>
								
							</div>
							<div class = "col-lg-6">
								<p><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>&nbsp;GPA：3.6</p>
							</div>
						</div>
						<div class = "row">
							<div class = "col-lg-6">
								<p><span class="glyphicon glyphicon-flag" aria-hidden="true"></span>&nbsp;年级：大一</p>
							</div>
							<div class = "col-lg-6">
								<p><span class="glyphicon glyphicon-edit" aria-hidden="true"></span>&nbsp;托福：80</p>
							</div>
						</div>
						<p><span class="glyphicon glyphicon-education" aria-hidden="true"></span>&nbsp;录取：华盛顿大学</p>
						<p><span class="glyphicon glyphicon-indent-right" aria-hidden="true"></span>&nbsp;全美排名：56</p>
					</div>
					<div class= "col-lg-5 fix-height-mid">
						<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;T同学来自国内一般高中，虽然绩点不差，但偏科严重的他理科成绩优异、英语却无论如何无法提高。在申请时间紧张的情况下，顾问老师为他做了完整的申请规划，根据他的优势为其选择理科强势学校，并且根据英语薄弱项进行有重点的复习。最终T成功拿到华盛顿大学、伊利诺伊香槟分校等名校offer。</p>
					</div>
				</div>
			</div>

			<div class = "row">
				<div class ="col-xs-offset-2 col-xs-9 success-case">
					<div class= "col-lg-5 fix-height-mid">
					<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;进入社区大学的G早早定下要转入华大的医学院。根据G同学的专业要求以及华盛顿大学转学申请要求，顾问为她进行了选课规划，保证各类学科选修学分达到要求，同时对照目标专业的学分转换表选修专业课程，同时保证绩点。最终帮助G同学拿到华盛顿大学offer。</p>

					</div>
					<div class= "col-lg-4 fix-height-mid">
						<p><span class="glyphicon glyphicon-user" aria-hidden="true"></span>&nbsp;G同学（社区大学转学）</p>
						<div class = "row">
							<div class = "col-lg-6">
							<p><span class="glyphicon glyphicon-tasks" aria-hidden="true"></span>&nbsp;SAT：无</p>
								
							</div>
							<div class = "col-lg-6">
								<p><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>&nbsp;GPA：3.5</p>
							</div>
						</div>
						<div class = "row">
							<div class = "col-lg-6">
								<p><span class="glyphicon glyphicon-flag" aria-hidden="true"></span>&nbsp;年级：大三</p>
							</div>
							<div class = "col-lg-6">
								<p><span class="glyphicon glyphicon-edit" aria-hidden="true"></span>&nbsp;托福：94</p>
							</div>
						</div>
						<p><span class="glyphicon glyphicon-education" aria-hidden="true"></span>&nbsp;录取：华盛顿大学生物化学专业</p>
						<p><span class="glyphicon glyphicon-indent-right" aria-hidden="true"></span>&nbsp;全美专业排名：9</p>
					</div>
					<img class = "img-responsive img-inline img-circle" align="right" alt="Responsive image" src="{% static 'images/college_case2.png' %}" >
				</div>
			</div>

			<div class = "row">
				<div class ="col-xs-offset-1 col-xs-9 success-case">
					<img class = "img-responsive img-inline img-circle" align="left" alt="Responsive image" src="{% static 'images/college_case3.png' %}" >
					<div class= "col-lg-4 fix-height-mid">
						<p><span class="glyphicon glyphicon-user" aria-hidden="true"></span>&nbsp;W同学（社区大学转学）</p>
						<div class = "row">
							<div class = "col-lg-6">
							<p><span class="glyphicon glyphicon-tasks" aria-hidden="true"></span>&nbsp;SAT：无</p>
								
							</div>
							<div class = "col-lg-6">
								<p><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>&nbsp;GPA：3.85</p>
							</div>
						</div>
						<div class = "row">
							<div class = "col-lg-6">
								<p><span class="glyphicon glyphicon-flag" aria-hidden="true"></span>&nbsp;年级：大三</p>
							</div>
							<div class = "col-lg-6">
								<p><span class="glyphicon glyphicon-edit" aria-hidden="true"></span>&nbsp;托福：105</p>
							</div>
						</div>
						<p><span class="glyphicon glyphicon-education" aria-hidden="true"></span>&nbsp;录取：加州大学-洛杉矶分校</p>
						<p><span class="glyphicon glyphicon-indent-right" aria-hidden="true"></span>&nbsp;全州排名：21</p>

					</div>
					<div class= "col-lg-5 fix-height-mid">
						<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;W同学找到我们时距离申请截止日期仅剩3周时间，虽然有理想的成绩，但个人陈述却还停留在第一版草稿。顾问老师经过对她个人情况的详细了解，帮助她理清文案中的层次、重点，突出他为专业所做的准备以及一直坚持参加的课外活动、和志愿者活动，展现出她的特点和优势，最终帮助她成功进入理想院校。</p>
					</div>
				</div>

			</div>
		</div>


		<div class ="hidden-lg">
			<div class="col-sm-4 col-xs-12">
				<div class = "vip-style" data-toggle="popover" data-placement="top" data-title = "T同学的申请" data-content="&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;T同学来自国内一般高中，虽然绩点不差，但偏科严重的他理科成绩优异、英语却无论如何无法提高。在申请时间紧张的情况下，顾问老师为他做了完整的申请规划，根据他的优势为其选择理科强势学校，并且根据英语薄弱项进行有重点的复习。最终T成功拿到华盛顿大学、伊利诺伊香槟分校等名校offer。">
					<br>
					<div class= "row">
						<img class = "img-responsive img-inline img-circle" alt="Responsive image" src="{% static 'images/college_case1.png' %}" >
					
					</div>
					<br>
				
					<div class = "row">
						<p><span class="glyphicon glyphicon-user" aria-hidden="true"></span>&nbsp;T同学（高中直申本科）</p>
						<hr>
						
							<div class = "col-xs-6">
							<p><span class="glyphicon glyphicon-tasks" aria-hidden="true"></span>&nbsp;SAT：1200</p>
								
							</div>
							<div class = "col-xs-6">
								<p><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>&nbsp;GPA：3.6</p>
							</div>
						
						
							<div class = "col-xs-6">
								<p><span class="glyphicon glyphicon-flag" aria-hidden="true"></span>&nbsp;年级：大一</p>
							</div>
							<div class = "col-xs-6">
								<p><span class="glyphicon glyphicon-edit" aria-hidden="true"></span>&nbsp;托福：80</p>
							</div>
						
						<div class = "col-xs-12">
						<p><span class="glyphicon glyphicon-education" aria-hidden="true"></span>&nbsp;录取：华盛顿大学</p>
						<p><span class="glyphicon glyphicon-indent-right" aria-hidden="true"></span>&nbsp;全州排名：56</p>
						</div>
					</div>

					
				</div>
			</div>

			<div class="col-sm-4 col-xs-12">
				<div class = "vip-style" data-toggle="popover" data-placement="top" data-title = "G同学的申请" data-content="&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;进入社区大学的G早早定下要转入华大的医学院。根据G同学的专业要求以及华盛顿大学转学申请要求，顾问为她进行了选课规划，保证各类学科选修学分达到要求，同时对照目标专业的学分转换表选修专业课程，同时保证绩点。最终帮助G同学拿到华盛顿大学offer。">
					<br>
					<div class= "row">
						<img class = "img-responsive img-inline img-circle" alt="Responsive image" src="{% static 'images/college_case2.png' %}" >
					
					</div>
					<br>
				
					<div class = "row">
						<p><span class="glyphicon glyphicon-user" aria-hidden="true"></span>&nbsp;G同学（社区大学转学）</p>
						<hr>
						
							<div class = "col-xs-6">
							<p><span class="glyphicon glyphicon-tasks" aria-hidden="true"></span>&nbsp;SAT：无</p>
								
							</div>
							<div class = "col-xs-6">
								<p><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>&nbsp;GPA：3.5</p>
							</div>
						
						
							<div class = "col-xs-6">
								<p><span class="glyphicon glyphicon-flag" aria-hidden="true"></span>&nbsp;年级：大三</p>
							</div>
							<div class = "col-xs-6">
								<p><span class="glyphicon glyphicon-edit" aria-hidden="true"></span>&nbsp;托福：94</p>
							</div>

						
						<div class = "col-xs-12">
						<p><span class="glyphicon glyphicon-education" aria-hidden="true"></span>&nbsp;录取：华盛顿大学生物化学专业</p>
						<p><span class="glyphicon glyphicon-indent-right" aria-hidden="true"></span>&nbsp;全美专业排名：9</p>
						</div>
					</div>

					
				</div>
			</div>

			<div class="col-sm-4 col-xs-12">
				<div class = "vip-style" data-toggle="popover" data-placement="top" data-title = "W同学的申请" data-content="&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;W同学找到我们时距离申请截止日期仅剩3周时间，虽然有理想的成绩，但个人陈述却还停留在第一版草稿。顾问老师经过对她个人情况的详细了解，帮助她理清文案中的层次、重点，突出他为专业所做的准备以及一直坚持参加的课外活动、和志愿者活动，展现出她的特点和优势，最终帮助她成功进入理想院校。">
					<br>
					<div class= "row">
						<img class = "img-responsive img-inline img-circle" alt="Responsive image" src="{% static 'images/college_case3.png' %}" >
					
					</div>
					<br>
				
					<div class = "row">
						<p><span class="glyphicon glyphicon-user" aria-hidden="true"></span>&nbsp;W同学（社区大学转学）</p>
						<hr>
						
							<div class = "col-xs-6">
							<p><span class="glyphicon glyphicon-tasks" aria-hidden="true"></span>&nbsp;SAT：无</p>
								
							</div>
							<div class = "col-xs-6">
								<p><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>&nbsp;GPA：3.85</p>
							</div>
						
						
							<div class = "col-xs-6">
								<p><span class="glyphicon glyphicon-flag" aria-hidden="true"></span>&nbsp;年级：大三</p>
							</div>
							<div class = "col-xs-6">
								<p><span class="glyphicon glyphicon-edit" aria-hidden="true"></span>&nbsp;托福：105</p>
							</div>
						
						<div class = "col-xs-12">
						<p><span class="glyphicon glyphicon-education" aria-hidden="true"></span>&nbsp;录取：加州大学-洛杉矶分校</p>
						</div>
						<p><span class="glyphicon glyphicon-indent-right" aria-hidden="true"></span>&nbsp;全州排名：21</p>
					</div>

					
				</div>
			</div>
		</div>
		<br>

		<div id ="studyplan"></div>

		<div class = "text-center">
			<button class="btn btn-green btn-200 modal-trigger" data-toggle="modal" data-target="#consult-modal">免费咨询</button>
		</div>
		
		<br>
	</div>
</div>

<div class = "container-fluid">
	<div class = "web-section container">

		<div class="section-header" class="row">
			<t2 class="section-title">各常青藤大学本科招生简章</t2>
			<hr>
			<br>
		</div>

		<div class = "row">
			<div class="col-lg-3 col-sm-6 col-xs-12">
				<div class="article-small">
					<a href="/jianzhang/harvard"><img class = "img-responsive center-block" alt="Responsive image" src="{% static 'images/jianzhang_harvard_small.jpg' %}" ></a>
				</div>
			</div>
			<div class="col-lg-3 col-sm-6 col-xs-12">
				<div class="article-small">
					<a href="/jianzhang/columbia"><img class = "img-responsive center-block" alt="Responsive image" src="{% static 'images/jianzhang_columbia_small.jpg' %}" ></a>
				</div>
			</div>
			<div class="col-lg-3 col-sm-6 col-xs-12">
				<div class="article-small">	
					<a href="/jianzhang/cornell"><img class = "img-responsive center-block" alt="Responsive image" src="{% static 'images/jianzhang_cornell_small.jpg' %}" ></a>
				</div>
			</div>
			<div class="col-lg-3 col-sm-6 col-xs-12">
				<div class="article-small">
					<a href="/jianzhang/princeton"><img class = "img-responsive center-block" alt="Responsive image" src="{% static 'images/jianzhang_princeton_small.jpg' %}" ></a>
				</div>
			</div>
		</div>

		<br>

		<div class = "text-center">
			<button class="btn btn-green btn-200 modal-trigger" data-toggle="modal" data-target="#consult-modal">免费咨询</button>
		</div>
		<br>


	</div>
</div>


<div class = "container-fluid container-white">
	<div class = "web-section container">

		<div class="section-header" class="row">
			<t2 class="section-title">常见问题</t2>
			<hr>

		</div>
		<div class = "row">
			<div class="panel-group col-xs-12 col-sm-6" id="accordion0" role="tablist" aria-multiselectable="true">
				<div class="panel panel-red">
					<div class="panel-heading" role="tab" id="heading1">
						<h4 class="panel-title">
							<a role="button" data-toggle="collapse" data-parent="#accordion0" href="#collapse1" aria-expanded="false" aria-controls="collapse1">
								我的孩子适合去美国留学吗？
							</a>
						</h4>
					</div>
					<div id="collapse1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading1">
						<div class="panel-body">
							留学美国是一种人生体验，当国内的同龄人千军万马过高考独木桥的时候，留学美国对您的孩子来说可以冲破国内教育体制的桎梏，告别一考定终身的时代，体验高度发达的美国大学的教育。如果您的家庭有一定经济能力，您的孩子英语基础比较好，并且独立性较强，就非常适合就读美国大学。但是如果您的孩子也许各方面基础还不是很优秀，但怀有热切的留学梦，依旧可以选择突破自我，留学美国。如果决定留学，就必须要提前咨询，做好留学规划。
						</div>
					</div>
				</div>
				<div class="panel panel-red">
					<div class="panel-heading" role="tab" id="heading2">
						<h4 class="panel-title">
							<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion0" href="#collapse2" aria-expanded="false" aria-controls="collapse2">
								申请美国大学一定要有托福成绩吗？
							</a>
						</h4>
					</div>
					<div id="collapse2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading2">
						<div class="panel-body">
						不一定，少部分美国大学以及绝大部分美国社区大学允许国际生通过面试证明自己的综合能力。学校也会通过国内成绩单与个人陈述综合考虑学生的情况，适当放宽条件录取。
						</div>
					</div>
				</div>
				<div class="panel panel-white">
					<div class="panel-heading" role="tab" id="heading3">
						<h4 class="panel-title">
							<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion0" href="#collapse3" aria-expanded="false" aria-controls="collapse3">
								美国大学本科的申请流程是什么？
							</a>
						</h4>
					</div>
					<div id="collapse3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading3">
						<div class="panel-body">
							大学申请一般分为5步。首先，学生需要参加语言测试（托福或雅思）以及美国大学入学测试（SAT考试），其次根据语言成绩,GPA, 及个人喜好进行学校的选择，之后准备个人申请资料，邮寄申请资料，如果学生希望得到经济帮助，则需填写经济援助申请表，在等在学校发录取的过程中，学生可以准备护照办理、学校面试等，得到录取之后，完成学校要求的存款证明，健康证明，准备签证，购买机票以及联系接机等。
						</div>
					</div>
				</div>
				<div class="panel panel-white">
					<div class="panel-heading" role="tab" id="heading4">
						<h4 class="panel-title">
							<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion0" href="#collapse4" aria-expanded="false" aria-controls="collapse4">
								美国大学与社区大学有什么区别？
							</a>
						</h4>
					</div>
					<div id="collapse4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading4">
						<div class="panel-body">
							美国大学有公立的，也有私立的。通常提供文学、科学和专业课程，包括大学部和研究所，可以一直读到博士学位。一般而言，大学通常学生人数很多。美国的学院主要指提供二年制公立大学，在美国所谓“社区学院”或“社区大学”。学生在社区大学两年毕业后，学校会颁发副学士学位予学生。如果学生想继续深造进修，也可以转读四年制大学，直接申请报读大三的课程，继续后两年的大学课程，取得学士学位。
						</div>
					</div>
				</div>

				<div class="panel panel-white">
					<div class="panel-heading" role="tab" id="heading5">
						<h4 class="panel-title">
							<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion0" href="#collapse5" aria-expanded="false" aria-controls="collapse5">
								赴美留学政策逐步紧缩，中国学生是否还应选择美国留学？
							</a>
						</h4>
					</div>
					<div id="collapse5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading5">
						<div class="panel-body">
							尽管美国信任总统上台以后一连发布多条留学生紧缩政策，然而对于中国留学生整体影响并不大。紧缩政策多用于控制不按要求上课或未能达到学校标准而被开除的国际学生，而对于能够完成美国学校学业要求的学生并不需要对此有任何担心。另外，虽然美国新任政府提出对于留学生工作的紧缩政策，对于优秀的人才，美国政府依旧保持非常开放的态度。因此，只要学生能够提前做好申请准备，努力提高自己的软硬实力，留学美国、接受世界一流教育依旧不是难事。
							
						</div>
					</div>
				</div>
			</div>

			<div class="panel-group col-xs-12 col-sm-6" id="accordion1" role="tablist" aria-multiselectable="true">
				<div class="panel panel-red">
					<div class="panel-heading" role="tab" id="alt-heading1">
						<h4 class="panel-title">
							<a role="button" data-toggle="collapse" data-parent="#accordion1" href="#alt-collapse1" aria-expanded="false" aria-controls="alt-collapse1">
								
								本科申请所用的系统有哪些?各有什么优势？
								
							</a>
						</h4>
					</div>
					<div id="alt-collapse1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="alt-heading1">
						<div class="panel-body">

							目前常用的本科申请系统有三种 一般申请(Common Application) 联合申请(Coalition Application) 通用申请(Universal College Application)。

							<li style="color:#C82E29">一般申请的学校覆盖率最广，目前有693所美国及国外高校使用此系统。使用这个系统的学生最多可申请20所高校，但需完成每所学校的特别问题部分，并提交每所学校申请所需的必要材料。</li>
							<li style="color:#C82E29">联合申请在2016年推出，现有120所学校接受此申请系统。然而几乎所有由多所美国顶尖高校联合推出，其中包括8所常春藤学校及多所美国顶尖院校，包括斯坦福大学、杜克大学、芝加哥大学等，且每年使用此申请系统的学校数目在不断增加。联合申请系统允许学生从9年级开始，将所有认为和大学上传相关的资料上传至系统，包括平时的成绩、课外活动、作品等，学生可尽自己所能，充分发挥自己的创造性，展现多元的自我。此系统帮助学校实现完整了解每位申请者的目的，并位学生提供了更广阔的自我展示平台。</li>
							<li style="color:#C82E29">通用申请在2007年开始使用，目前被超过70所学校所接受。与一般申请系统不同的是，除了基本信息外，针对不同的学校，会有不同的要求和问题。相比于其他两个申请系统，通用申请的优势在于可以明确的了解学校的信息以及不同的申请要求，更有利于学生对自己的申请进行管理。</li>
							
							
						</div>
					</div>
				</div>
				<div class="panel panel-white">
					<div class="panel-heading" role="tab" id="alt-heading2">
						<h4 class="panel-title">
							<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion1" href="#alt-collapse2" aria-expanded="false" aria-controls="alt-collapse2">
								美国大学对入学有年龄限制吗？
							</a>
						</h4>
					</div>
					<div id="alt-collapse2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="alt-heading2">
						<div class="panel-body">
								对入学的年龄的限制一般只有最小的年龄限制，对年龄的上限无限制。申请大学以上学历的申请人必须年满18岁，同时具备高中毕业的学历。
						</div>
					</div>
				</div>
				<div class="panel panel-white">
					<div class="panel-heading" role="tab" id="alt-heading3">
						<h4 class="panel-title">
							<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion1" href="#alt-collapse3" aria-expanded="false" aria-controls="alt-collapse3">
								成绩不理想能申请到很好的学校吗？
							</a>
						</h4>
					</div>
					<div id="alt-collapse3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="alt-heading3">
						<div class="panel-body">
							成绩好坏并不能完全体现学生的整体素质，美国与中国教育体制的最大差别之一在于学校更看重学生的全面发展与个人特色，成绩只是其中的一小部分。很多常春藤名校都很重视学生融入社会，帮助社会的能力。因此，美国学校在录取的时候会考虑学生的个人特色。
						</div>
					</div>
				</div>
				<div class="panel panel-white">
					<div class="panel-heading" role="tab" id="alt-heading4">
						<h4 class="panel-title">
							<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion1" href="#alt-collapse4" aria-expanded="false" aria-controls="alt-collapse4">
								我的孩子适合读哪一类美国大学？
							</a>
						</h4>
					</div>
					<div id="alt-collapse4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="alt-heading4">
						<div class="panel-body">
							针对孩子的偏好，如果孩子喜欢热闹的环境、踊跃的氛围，公立大学规模比较大，能帮助孩子更快适应外国生活，而且公立大学申请竞争相对较小。如果孩子比较独立有主见，申请时间较长，成绩非常优秀，可以考虑冲刺优秀私立大学，毕竟美国排名靠前的大学大多数为私立学校。美国不同学校的优势专业也不同，因此同时也可根据个人专业选择进行对学校的筛选。</li>

						</div>
					</div>
				</div>
				<div class="panel panel-white">
					<div class="panel-heading" role="tab" id="alt-heading5">
						<h4 class="panel-title">
							<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion1" href="#alt-collapse5" aria-expanded="false" aria-controls="alt-collapse5">
								美国留学签证很难办吗？
							</a>
						</h4>
					</div>
					<div id="alt-collapse5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="alt-heading5">
						<div class="panel-body">
							来美国读大学需要面签，签证官不会问你特别专业的问题，只是惯常用语而已。比如你为什么要选择去美国留学，你对要去的学校了解程度，或者你最喜欢的电影，目的是了解你的求学目的和英语程度。不是敏感专业或者曾经身份存在问题，一般来说都会现场告诉你已经通过面签。学生可以提前查询了解下签证官可能问到的问题，做好相应准备。
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class = "container-fluid">
	<div id="section6" class = "container">
		<nav aria-label="...">
			<ul class="pager">
				<li class="next"><a href="/articles">更多文章 <span aria-hidden="true">&rarr;</span></a></li>
			</ul>
		</nav>

		<div class = "row">
			<div class = "col-lg-6 col-sm-12">
				<div class = "row">

					<div class = "col-sm-6 col-xs-12">{% include "articles/article1_small.html" %}</div>
					<div class = "col-sm-6 col-xs-12">{% include "articles/article2_small.html" %}</div>
				</div>
			</div>
			<div class = "col-lg-6 col-sm-12">
				<div class = "row">
					<div class = "col-sm-6 col-xs-12">{% include "articles/article5_small.html" %}</div>
					<div class = "col-sm-6 col-xs-12">{% include "articles/article6_small.html" %}</div>
				</div>
			</div>

		</div>
		<nav aria-label="...">
			<ul class="pager">
				<li class="next"><a href="/articles">更多文章 <span aria-hidden="true">&rarr;</span></a></li>
			</ul>
		</nav>
	</div>
</div>

{% include "footer.html" %}






{% endblock %}

{% block add_js %}
<script src="{% static 'scripts/index.js' %}"></script>


{% endblock %}

