{% load static %}

<div class = "container-blue container-fluid">
	<div id="section5" class = "footer container">

		<div class = "row">
			<div class="col-md-5 col-sm-12 col-xs-12">
				<div class = "map-style">
					<img class = "img-responsive" alt="Responsive image" src="{% static 'images/map.png' %}" >
				</div>
			</div>

			<div class="col-md-5 col-sm-8 col-xs-8">
				<h4 style ="color:white">联系我们</h4>
				<p>地址：14400 Bel-Red Rd, Suite 106, Bellevue, WA 98007</p>
				<p>时间：10:00 AM — 5:00 PM, 周一 至 周五 </p>
				<p>邮箱：customer@loyaeducation.com</p>
				<p>电话：425-628-5692</p>
				<p>咨询：<a class = "modal-trigger" data-toggle="modal" data-target="#consult-modal">网上咨询</a></p>

			</div>

			<div class="col-md-2 col-sm-4 col-xs-4">
				<h4 style ="color:white">社交媒体</h4>
				<a class="modal-trigger" href="#" data-toggle="modal" data-target="#wechat-modal"><p><img class = "small-image" src="{% static 'images/wechat.png' %}" > 微信</p></a>
				<p><img class = "small-image" src="{% static 'images/weibo.png' %}" > 微博</p>
				<p><img class = "small-image" src="{% static 'images/zhihu.png' %}" > 知乎</p>
				<p><img class = "small-image" src="{% static 'images/miaopai.png' %}" > 秒拍</p>
				<p><img class = "small-image" src="{% static 'images/youku.png' %}" > 优酷</p>
				<p><img class = "small-image" src="{% static 'images/toutiao.png' %}" > 头条号</p>
			</div>

		</div>
	</div>
</div>

<div class = "container-deep-blue container-fluid">
	<div class = "footer container text-center">
		<div class="row">
			<div class="col-md-offset-1 col-md-4 col-xs-12">
				<p1>2017 © 络雅 by loyaeducation, LLC.</p1>
			</div>
			<div class="col-md-2 col-xs-4">
				<p1><a class="modal-trigger" href="#" data-toggle="modal" data-target="#policy-modal">用户协议</a></p1>
			</div>
			<div class="col-md-2 col-xs-4">
				<p1><a class="modal-trigger" href="#" data-toggle="modal" data-target="#policy-modal">隐私条款</a></p1>
			</div>
			<div class="col-md-2 col-xs-4">
				<p1><a>寻求合作</a></p1>
			</div>
		</div>
	</div>
	<br>
</div>


<div class="modal fade" id="policy-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close trigger-hide" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel"><img class="logo" src="{% static 'images/logo.png' %}" />服务条款</h4>
			</div>
			<div class="modal-body">


				<h3>条款和条件</h3>
				<p>任何访问络雅教育网站(loyaeducation.com)的用户需阅读并接受条款条件、通知、警告及条款中所包含的法律声明。下列条款和条件的解释权归本网站所有，并会依据法律做适当调整.</p>
				<p>网站条款和条件：</p>
				<p>明令禁止非授权使用任何本网站信息或内容。如有违反及因此带来的损失，本网站概不负责，并保留采取法律行动的权利。</p>
				<p>络雅教育公司网站提供的所有材料均为基本信息，仅供参考。这些信息并不是法律咨询也不是来自本公司顾问正式咨询意见，因此同样不可用于以上用途。此网站内容和信息会不定期进行更新，如有更改，恕不另行通知。</p>
				<p>络雅教育公司无论在何种情况下，不承担任何性质的损害索赔，包括但不仅限于网站内容错误或遗漏、网站部分或全部服务无法使用、恶意网络攻击，以及其他网站错误及功能障碍。</p>
				<p>用户使用loyaeducation.com所提供的服务时需遵照法律合法使用。</p>
				<p>客户应负责定期审查这些条款和条件。在任何此类更新后，若客户继续使用loyaeducation.com的网服务，代表同意修改的条款。</p>
				<h3>Terms of Use</h3>
				<p>Any visitor of this website shall read and accept any terms, conditions, notice, warnings and any legal statement contains in the following entries.</p>

				<p>Loyaeducation.com reserve the rights to explain, change and modify the terms and conditions listed below.</p>


				<p>Website Terms and Conditions:</p>
				<p>Any unauthorized use of information or any content of this website is prohibited. If there shall be any loss caused by violation, loyaeducation.com will be not responsible for the loss of any nature, and will reserve the rights to take necessary legal actions.</p>

				<p>All materials on Loya Education website (loyaeducation. com) are for general information purposes only. The information presented is not legal advice or official service from our consultant, is not to be acted on as such. The content of this website may not be current and is subject to change without notice.</p>
				<p>Under no circumstances, Loya Education, LLC, shall be liable for losses of any nature incurred by mistake or missing content on this website, inaccessible or unusable service on the whole or part of the website, vicious cyber attack, and any other forms of dysfunction or problem of this website.</p>
				<p>Users shall obey the law when using the service provided by loyaeducation.com.</p>
				<p>Users are responsible for regularly reviewing these Terms and Conditions. Continued use of service of loyaeducation.com after any such update shall constitute client agreement with the modifications.</p>




			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default trigger-hide" data-dismiss="modal">关闭</button>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="wechat-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close trigger-hide" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel"><img class="logo" src="{% static 'images/logo.png' %}" />扫描二维码，加微信！</h4>
			</div>
			<div class="modal-body">


			<img class = "img-responsive center" alt="Responsive image" src="{% static 'images/wechat_code.jpg' %}"/>


			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default trigger-hide" data-dismiss="modal">关闭</button>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="consult-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close trigger-hide" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel"><img class="logo" src="{% static 'images/logo.png' %}" />   咨询表格</h4>
			</div>
			<div class="modal-body">
				<form class = "modal-form" method="post"> {% csrf_token %}
					<div class="form-group">
						<div class="input-group">
							<div class="input-group-addon"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></div>
							<input type="text" id="input-name" name="c_name"  maxlength="50" required="" placeholder="姓名" class="form-control c-input" data-toggle="popover" data-container="body" {% if user.is_authenticated %} value = "{{ student.name }}" {% endif %}>
						</div>
					</div>

					<div class="form-group">
						<div class="input-group">
							<div class="input-group-addon"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span></div>
							<input type="text" id="input-email" name="c_email" maxlength="100" required="" placeholder="邮箱" class="form-control c-input" data-toggle="popover" data-container="body" {% if user.is_authenticated %} value = "{{ user.username }}" {% endif %} >
						</div>
					</div>
					<div class="form-group">
						<div class="input-group">
							<div class="input-group-addon"><span class="glyphicon glyphicon-phone" aria-hidden="true"></span></div>
							<input type="text" id="input-phone" name="c_phone maxlength="20" placeholder="电话（可选）" class="form-control number" {% if user.is_authenticated %} value = "{{ student.phone }}" {% endif %}>
						</div>
					</div>

					<div class="form-group">
						<div class="input-group">
							<div class="input-group-addon"><span class="glyphicon glyphicon-briefcase" aria-hidden="true"></span></div>
							<input type="text" id="input-service" name="c_service" maxlength="100" required="" placeholder="请选择服务" class="form-control c-input" data-toggle="popover" data-container="body" readonly>
							<div class="input-group-btn">
								<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="caret"></span></button>
								<ul class="dropdown-menu dropdown-menu-right">
									<li><a class="service-select">中小学申请</a></li>
									<li><a class="service-select">语言学校申请</a></li>
									<li><a class="service-select">社会大学申请</a></li>
									<li><a class="service-select">本科申请</a></li>
									<li><a class="service-select">身份恢复</a></li>
									<li><a class="service-select">其他</a></li>
									<li role="separator" class="divider"></li>
									<li><a class="service-select">VIP定制服务</a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="input-group">
							<textarea id="c-description" name="c_description"  rows="5" maxlength="500" placeholder="如有需要，请对需求服务做简要描述。" class="form-control"></textarea> 
						</div>
					</div>

					<div class="alert alert-success" id="consultation-success"  style="display: none" role="alert">您的咨询已提交。</div>
					<div class="alert alert-danger" id="consultation-fail" style="display: none" role="alert">非常抱歉，您的咨询未能提交成功。请检查是否输入了正确的邮箱。</div>

				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default trigger-hide" data-dismiss="modal">关闭</button>
				<button type="button" id="consultation-submit" class="btn btn-red">提交咨询</button>
			</div>
		</div>
	</div>
</div>