{% extends "basic.html" %}

{% load static %}

{% block content %}

<div class="container">
	<div id="login-form" class="rl-form text-center">
		<h4><strong>登陆</strong></h4>
		<p>请输入您的邮箱和密码。</p>
		<form method="post"> {% csrf_token %}
			<div class="form-group">
				{% if l_form.username.errors %}
				{% for error in l_form.username.errors %}
				<div class= "form-error">
					<span class="glyphicon glyphicon-remove" aria-hidden="true"></span> {{ error }} 
				</div>
				{% endfor %}
				{% endif %}
				<div class="input-group">
					<div class="input-group-addon">
						<span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
					</div>
					{{ l_form.username }}
				</div>
			</div>
			<div class="form-group">
				<div class="input-group">
					<div class="input-group-addon">
						<span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
					</div>
					{{ l_form.password }}
				</div>
			</div>

			<div class="form-group">
				<a href="/register">没有账号？点击注册。</a>
			</div>

			<div class="form-group">
				<a class = "modal-trigger" data-toggle="modal" data-target="#consult-modal">忘记密码？点击找回。</a>
			</div>
			<button type="submit" class="btn btn-lightred btn-full">点击登陆</button>
			<div class="form-group">
				<p1>2017 © 络雅 by loyaeducation.com, LLC.. </p1>
			</div>

		</form>
	</div>
</div>

<div class="modal fade" id="consult-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close trigger-hide" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel"><img class="logo" src="{% static 'images/logo.png' %}" />   找回密码</h4>
			</div>
			<div class="modal-body">
				<form class = "modal-form" method="post"> {% csrf_token %}
					<div class="form-group">
						<div class="input-group">
							<div class="input-group-addon"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span></div>
							<input type="email" id="input-email" name="c_email"  maxlength="50" required="" placeholder="您的邮箱" class="form-control c-input" data-toggle="popover" data-container="body">
						</div>
					</div>

					
					<div class="alert alert-success" id="forget-password-success"  style="display: none" role="alert">您的密码已经被重新设置并且发送至您的邮箱，请登陆后尽快更改。</div>
					<div class="alert alert-danger" id="forget-password-fail" style="display: none" role="alert">非常抱歉，未能重新设置您的密码。请确认您输入了正确的邮箱。</div>

				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default trigger-hide" data-dismiss="modal">关闭</button>
				<button type="button" id="forget-password-submit" class="btn btn-red">点击找回</button>
			</div>
		</div>
	</div>
</div>

{% endblock %}

{% block add_js %}


<script src="{% static 'scripts/login.js' %}"></script>


{% endblock %}