{% extends "basic.html" %}

{% load static %}

{% block title %}

<title>2018年华盛顿州私立高中排名</title>

{% endblock %}

{% block content %}

<div class = "container-white container-fluid">
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>

	<div class = "container">
		<div class="social-share" style="text-align: right"></div>

		<br>
		<h3 class="text-center">2018年华盛顿州私立高中排名</h3>
		<hr>

		<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;如今越来越多的家长选择让自己的孩子出国读初中、高中，留学低龄化已成为一大趋势。学生们在美国的课堂不但能够在活跃的气氛中学习知识，注重个人发展的美国中学还会帮助学生发展自己的兴趣和长处。除此之外，经由美国中学学习后，学生在申请一流大学时有更强的竞争力。同时，美国大学申请允许同时申请多所学校，收到各所学校录取后，再由学生自己决定上哪一所学校的申请方式也大大避免了与心仪学校失之交臂的遗憾。</p>



		<div class = "row">

			<div class = "col-lg-4 col-sm-12">

				<img class = "img-responsive" alt="Responsive image"" src="{% static 'images/article4_1.png' %}"/>

			</div>

			<div class = "col-lg-8 col-sm-12">

				<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;美国学校分为私立和公立。公立学校由政府资助供当地学生就读，不需费用。然而美国法律规定，美国公立高中只允许接受短期外国交换学生，较长时限为一年。


					<p>美国私立学校为私人或教会所属，接受外国学生就读。在美国有超过三万所私立学校，每年美国有25%的学生进入私立学校学习，由于其资金更为充裕，因此往往能够为学生提供更好的硬件设施及教学条件。根据美国教育评估项目统计，私立高中的学生的数学和语文成绩比公立学校学生成绩平均高出10分。一般而言，在美国有名的私立高中上学，毕业后进入美国名校的比例要远远大于公立高中。</p>
					<p>络雅教育为大家整理了西雅图及周边地区排名前十且接受国际学生的学校。学校信息来自学校官方网站，排名信息来自美国专业学校排名网站(数据由学校学生的成绩、大学升学数据、学校师资水平和硬件设施，以及对学校学生、家长、老师的调查等多方面信息汇总所得)，对于选校有很高的参考价值。</p>
				</div>

			</div>
			<br>



			<html>
			<head>
				<title></title>
			</head>
			<body>
				<p><span style="font-size:16px;"><strong><span>#1 Lakeside School 湖畔中学</span></strong></span></p>

				<p><span style="color:#696969;"><em><span style="font-size: 16px;"><span>西雅图&middot;年级 5~12&middot;学费 $3,2000</span></span></em></span></p>

				<p><span style="font-size:16px;"><span>Lakeside中学位于西雅图市北部，是比尔盖茨和保罗艾伦的母校。此学校有多名学生进入美国高等学府，包括斯坦福、哈佛、耶鲁等名校。目前在校学生838人，师生比例为1:9 (美国平均 1:16)。除了优质的教育资源和环境，丰富的艺术和体育课程项也能够保证学生的全面发展。</span></span></p>

			
					<span style="font-size:16px;"><span>学校招收国际生，学生需自己联系安排住宿，国际生托福要求为94分，申请截止日期12月14日。</span></span>
				

				<p>&nbsp;</p>

				<p><span style="font-size:16px;"><strong><span>#2 </span><span>The Overlake School </span><span>欧弗克莱中学</span></strong></span></p>

				<p><span style="color:#696969;"><em><span style="font-size: 16px;"><span>雷德蒙德&middot;年级5~12&middot;学费$3,1460</span></span></em></span></p>

				<p><span style="font-size:16px;"><span>位于雷德蒙德的The Overlake School建立于1967年，&ldquo;精益求精，逐新趣异，培养富有责任心和价值观多元的学生，创建人文社会。2017年在校人数532人，师生比例9:1，每年有多名毕业生进入华盛顿大学、斯坦福大学、南加州大学、伯克利大学、布朗大学等。</span></span></p>

				<p><span style="font-size:16px;"><span>学校不提供住宿，每年招收国际生人数有限，申请截止日期为1月12日。</span></span></p>

				<p>&nbsp;</p>

				<p><span style="font-size:16px;"><strong><span>#3 </span><span>The Bush School 布什学校</span></strong></span></p>

				<p><span style="color:#696969;"><em><span style="font-size: 16px;"><span>西雅图&middot;年级K~12&middot;学费$3,2290(高中) &nbsp;$3,0830(初中) $2,4995(小学) </span></span></em></span></p>

				<p><span style="font-size:16px;"><span>The Bush School建校于1924年，是西雅图历史最悠久的非宗教性质私立学校之一。学校招收学生年级为学前班至12年级，至2017年，学生总人数为595人，师生比1:9。 学校根据每个阶段学生特点设置了不同课程，并且提供丰富的社会实践、暑期拓展、课后兴趣班等项目，此外学校的体育和艺术课程也是学生在此学校学习的重要组成部分。</span></span></p>

				<p><span style="font-size:16px;"><span>学校不提供住宿，2018学年将不为国际生提供学生签证，持其他签证类型国际生可进行申请，申请截止日期为1月12日。</span></span></p>

				<p>&nbsp;</p>

				<p><span style="font-size:16px;"><strong><span>#4 </span><span>Annie Wright Schools 安妮怀特学校</span></strong></span></p>

				<p><span style="color:#696969;"><em><span style="font-size: 16px;"><span>塔克马&middot;年级 幼儿园~12&middot;学费</span><span style="font-family: Arial; background-color: rgb(248, 248, 248); font-weight: 400; font-style: normal; font-variant: normal; text-decoration: none; vertical-align: baseline;">$21,630(小学) $24,720(初中) $55,620(7天寄宿高中)</span></span></em></span></p>

				<p><span style="font-size:16px;"><span>Annie Wright Schools是一所私立教会学校，坐落于华盛顿州塔科马市。成立于1884年的Annie Wright在创立之初为基督教女校，随着塔科马市的不断发展及人口的增加，学校开始招收男生。这座历史悠久的学校沿海湾而建，不但景色优美还拥有</span><span>室内游泳池、2个健身房、科学实验室，艺术和音乐室、影院、户外花园、学龄前游乐区、运动场及开放场地。有多名学生进入哈佛大学、康奈尔大学、宾大等一流院校。学生人数465，师生比1:8。</span></span></p>

				<p><span style="font-size:16px;"><span>学校招收各年级国际生，提供高年级国际生住宿，无申请截止日期，直至满额。</span></span></p>

				<p>&nbsp;</p>

				<p><strong><span style="font-size:16px;"><span>#5 </span><span>The Bear Creek School 熊溪学校</span></span></strong></p>

				<p><span style="color:#696969;"><em><span style="font-size: 16px;"><span>雷德蒙德&middot;年级K~12&middot;学费$2,2495</span></span></span></em></p>

				<p><span style="font-size:16px;"><span>成立于1988年的The Bear Creek School 是一所私立教会学校，学校致力于用经典精英教育模式培育优秀人才。在注重培养学生智慧和传统美德的同时鼓励学生全面发展。另外学校还根据不同年级学生的智力和能力发展设置不同的课程，从文学、历史、哲学等各方面引导和培养学生的思维能力。有多名学生进入斯坦福大学、华盛顿大学、乔治城大学等一流高等学府。2017年学生人数731人，师生比1:10。</span></span></p>

				<p><span style="font-size:16px;"><span>学校招收9~11年级国际生，申请截止日期1月12日，不提供住宿。</span></span></p>

				<p>&nbsp;</p>

				<p><strong><span style="font-size:16px;"><span>#6 University Prep 大学预备学校</span></span></strong></p>

				<p><span style="color:#696969;"><em><span style="font-size: 16px;"><span>西雅图&middot;年级6~12&middot;学费$3,2850(中学) $3,3850(高中)</span></span></em></span></p>

				<p><span style="font-size:16px;"><span>University Prep为学生提供与老师之间最佳的关系体验。良好的师生关系和超过100门的丰富课程设置帮助学生最大化地拓展视野、发展自身优势和喜好。北西雅图的优越地理位置，不但增强了学生在这个多元化城市的体验，同时也能够享受北西雅图地区宁静的校园氛围。学校建校以来，多名学生成功进入美国顶尖院校，包括宾夕法尼亚大学、布朗大学、圣路易斯-华盛顿大学等。</span></span></p>

				<p><span style="font-size:16px;"><span>学生人数570人，师生比7:1。</span></span></p>

				<p><span style="font-size:16px;"><span>学校招收各年级国际生，申请截止日期：12月7日(基本申请填写)1月11日(补充材料提交)。</span></span></p>

				<p>&nbsp;</p>

				<p><strong><span style="font-size:16px;"><span>#7 </span><span>Charles Wright Academy 查尔斯怀特学院</span></span></strong></p>

				<p><span style="color:#696969;"><em><span style="font-size: 16px;"><span>塔科马&middot;年级 幼儿园~12&middot;学费$4,0313</span></span></em></span></p>

				<p><span style="font-size:16px;"><span>坐落于塔科马市的Charles Wright Academy成立于1974年，拥有43万平方米的校园面积，为各年级学生提供多项学习及活动设施，其中语言及艺术表演中心更是为学生提供了自我探索和自我展示的平台。每年学校有多名学生进入华盛顿大学、斯坦福大学、伯克利大学及纽约大学等高等学府。2017年学生人数700人，师生比1:11。</span></span></p>

				<p><span style="font-size:16px;"><span>学校招收各年级国际生，无申请截止日期，直至满额，学校不提供学生宿舍</span></span></p>

				<p>&nbsp;</p>

				<p><strong><span style="font-size:16px;"><span>#8 </span><span>Eastside Preparatory School 东区中学</span></span></strong></p>

				<p><span style="color:#696969;"><em><span style="font-size: 16px;"><span>柯克兰&middot;年级5~12&middot;学费$2,8500</span></span></em></span></p>

				<p><span style="font-size:16px;"><span>Eastside Preparatory School 位于柯克兰南部与贝尔维尤交接处，地理位置优越、交通方便、环境优美这所成立于2002年的学校以其优质的教育环境和丰富的体育、艺术活动等，为学生的全面发展提供了良好的资源。学校旨在培养有批判性思维、责任感和人文关怀的领导者和创造者。 学生人数400，师生比1:5。</span></span></p>

				<p><span style="font-size:16px;"><span>学校仅招收9~11年级国际生，申请截止日期1月12日。</span></span></p>

				<p>&nbsp;</p>

				<p><strong><span style="font-size:16px;"><span>#9 </span><span>Forest Ridge School of the Sacred Heart </span><span>福利斯特里奇圣心女子中学</span></span></strong></p>

				<p><span style="color:#696969;"><em><span style="font-size: 16px;"><span>贝尔维尤&middot;年级5~12&middot;学费$3,2400</span></span></em></span></p>

				<p><span style="font-size:16px;"><span>Forest Ridge中学成立于1907年，学校于2017年庆祝建校110周年，是西雅图地区历史最悠久的天主教女校。Forest Ridge的教育注重个人发展、团队合作，培养具有批判性思维、勇于迎接挑战、追求平等的年轻女性。比尔盖茨的女儿就曾就读此校。2017年学生人数为391人，师生比1:7。</span></span></p>

				<p><span style="font-size:16px;"><span>学校招收各年级国际学生，申请截止日期为1月18日，学校提供住宿</span></span></p>

				<p>&nbsp;</p>

				<p><strong><span style="font-size:16px;"><span>#10 </span><span>The Northwest School 西北中学</span></span></strong></p>

				<p><span style="color:#696969;"><em><span style="font-size: 16px;"><span>西雅图&middot;年级6~12&middot;学费$3,5025</span></span></em></span></p>

				<p><span style="font-size:16px;"><span>The Northwest School成立于1978年，这座位于西雅图市中心的私立中学，出色的大学预备课和英语语言项目保证了国际学生的学习，快速发展的艺术和体育帮助学生培养创造力和团队合作能力，便捷、友善地理环境能够给最大程度上帮助国际生在获得良好教育的同时充分体验美国文化和生活。在校人数497，师生比1:10。</span></span></p>

				<p><span style="font-size:16px;"><span>学校招收9~12年级的国际生，申请截止日期为2月7日，学校提供学生宿舍</span></span></p>

				<p>&nbsp;</p>

				<p><strong><span style="font-size:16px;"><span >#11 Holy Names Academy 圣名学院</span></span></strong></p>

				<p><span style="color:#696969;"><em><span style="font-size: 16px;"><span >西雅图&middot;年级9~12&middot;学费1,6260</span></span></em></span></p>

				<p><span style="font-size:16px;"><span >位于西雅图的Holy Names Academy，致力于培养自信、有创造力的年轻女性。学校的课程设置帮助学生探索和发展自身的特殊天赋和兴趣，不但为未来的大学升学，也为未来的成功人生做准备。在学校的四年不仅仅是学习，同样也是为学生提供建立一生友谊的机会。自成立的137年来，已成功培育了超过1万多名成功的年轻女性。在校人数696人，师生比15：1。</span></span></p>

				<p><span style="font-size:16px;"><span >学校不为国际生提供签证，持其他身份的国际生可进行申请，申请截止日期为1月8日。</span></span></p>

				<p>&nbsp;</p>

				<p><strong><span style="font-size:16px;"><span >#12 Seattle Preparatory School 西雅图高中</span></span></strong></p>

				<p><span style="color:#696969;"><em><span style="font-size: 16px;"><span >西雅图&middot;年级9~12&middot;学费1,7900</span></span></em></span></p>

				<p><span style="font-size:16px;"><span >Seattle Preparatory School为西雅图地区最早的基督教学校之一。学校自1891年以来，一直致力于培养品德才智兼备、心胸开阔、心怀仁慈、富有社会责任感的年轻人。学校至1975年后，为了培育更多西雅图地区有位的年轻人，学校开始面向女性学生，成为了一所综合男女同校的宗教学校。学校的课程设置帮助年轻的学者发挥其最大潜能，为未来的生活做最佳准备。</span></span></p>

				<p><span style="font-size:16px;"><span >学校不为国际生提供签证，持其他身份的国际生可进行申请，申请截止日期为1月8日。</span></span></p>

				<p>&nbsp;</p>

				<p><strong><span style="font-size:16px;"><span >#13 Eastside Catholic School 东区天主中学</span></span></strong></p>

				<p><span style="color:#696969;"><em><span style="font-size: 16px;"><span >瑟马米什&middot;年级6~12&middot;学费$2,1895</span></span></em></span></p>

				<p><span style="font-size:16px;"><span >成立于1980年的Eastside Catholic School是大西雅图地区最好的教会学校之一。学校为学生提供多种富有挑战性的课程，帮助他们为大学申请做最好的准备。丰富的课外时间、社区服务等活动让学生们充分培养领导力和责任心。初中部人数约240人，高中部位于西雅图华盛顿湖畔。学生总人数931人，师生比12：1。</span></span></p>

				<p><span style="font-size:16px;"><span >学校招收6~12年级的国际生，申请截止日期为1月9日。</span></span></p>

				<p>&nbsp;</p>

				<p><strong><span style="font-size:16px;"><span >#14 Bellarmine Preparatory School 贝拉明高中</span></span></strong></p>

				<p><span style="color:#696969;"><em><span style="font-size: 16px;"><span >塔科马&middot;年级9~12&middot;学费$2,2674</span></span></em></span></p>

				<p><span style="font-size:16px;"><span >历史悠久的Bellearmine Preparatory School于1928年成立于塔科马，是由基督教学校联合会认真的优秀教会高中。学校为学生提供种科目丰富的课程，为学生全面发展提供保证；完整的大学预备课程设置，让学生们进一步挑战自我，帮助学生为大学升学做最好的准备。所有的课程及活动均以激励质疑、体验、行动和反思为目标，培育能够为社会做出贡献的人才。在校人数950人，师生比13：1。</span></span></p>

				<p><span style="font-size:16px;"><span >学校招收9~12年级国际生，申请截止日期为3月1日。</span></span></p>

				<p>&nbsp;</p>

				<p><strong><span style="font-size:16px;"><span >#15 </span><span >West Sound Academy &nbsp;西湾学院</span></span></strong></p>

				<p><span style="color:#696969;"><em><span style="font-size: 16px;"><span >波尔斯波&middot;年级6~12&middot;学费4,4875(包含住宿费)</span></span></span></em></p>

				<p><span style="font-size:16px;"><span >西普吉湾学校位于环境优美的波尔斯波。学校建校以来，成功将多名学生送入美国高等院校，包括华盛顿大学、斯坦福大学等。学校的大学先修课程（IB课程），为每位学生进入理想院校提供充分的准备。学校的拓展体验项目帮助学生建立友谊、融入集体、训练学生的应变能力和领导力，多项社区服务活动，帮助学生了解所在社区、培养社会责任心。在校人数116，师生比8：1。</span></span></p>

				<p><span style="font-size:16px;"><span >学校招收5~12年级国际生，申请无截止日期，名额满为止。</span></span></p>

				<p>&nbsp;</p>

				<p><span style="font-size:16px;"><strong><span >#16 Kennedy Catholic High School 肯尼迪天主高中</span></strong><br class="kix-line-break" /></span></p>
				<p><span style="color:#696969;"><em><span style="font-size: 16px;"><span >布里恩&middot;年级9~12 &middot;学费 4,6000(包含国际生住宿费用)</span></span></em></span></p>
				<br class="kix-line-break" />
				<p>
					<span >Kennedy Catholic High School 为一所向所有学生敞开的教会学校。学校致力于全面开 发学生的各项潜能与领导力。Kennedy Catholic High School 优秀的教师团队及升学咨 询团队帮助无数国内外学生成功进入美国顶尖院校。在校人数 834，师生比 10:1。</span><br class="kix-line-break" />
					<span >学校招收 9~12 年级国际生，申请截止日期 2 月 15 日。2018 年的国际生名额有限(约 30 人)</span>
				</p>

				<p>&nbsp;</p>

				<p><strong><span style="font-size:16px;"><span >#17 Saint George&rsquo;s School 圣乔治学校</span></span></strong></p>

				<p><span style="color:#696969;"><em><span style="font-size: 16px;"><span >斯波坎&middot;年级K~12&middot;学费$2,6100</span></span></em></span></p>

				<p><span style="font-size:16px;"><span >地处美丽的斯波坎地区，拥有120英亩的校园，Saint Geroge&lsquo;s School为华盛顿州的学生提供最优质的教育。学校根据不同年级学生的发展需要，提供不同等级的课程，不仅为了成功进入顶尖大学的学生，更是为了学生未来成功的人生打下良好基础。已有多名学生进入斯坦福大学、莱斯大学、杜兰大学华盛顿大学等美国高等学府。在校人数387人，师生比11:1。</span></span></p>

				<p><span style="font-size:16px;"><span >学校招收各年级国际生，申请截止日期4月1日。</span></span></p>

				<p>&nbsp;</p>

				<p><strong><span style="font-size:16px;"><span >#18 Spring Street International School春路国际学校</span></span></strong></p>

				<p><span style="color:#696969;"><em><span style="font-size: 16px;"><span >圣胡安岛&middot;年级5~12&middot;学费$4,3260</span></span></em></span></p>

				<p><span style="font-size:16px;"><span >为满足当地的教育需求，成立于1995年的Spring Street International School提供循序渐进的中学课程和高强度的大学预备课程，帮助学生在人文社科、科学技术、艺术等方面实现最佳的能力拓展。学校的社区活动、户外拓张等项目更是培养了学生的国际视野和优秀领导力，迄今已有多名优秀学生进入麻省理工、达特茅斯学院、宾夕法尼亚大学、伯克利大学等顶尖美国院校。在校人数100，师生比8:1。</span></span></p>

				<p><span style="font-size:16px;"><span >学校招收各年级国际生，且提供住宿，申请截止日期4月21日。</span></span></p>

				<p>&nbsp;</p>

				<p><strong><span style="font-size:16px;"><span >#19 </span><span >Bishop Blanchet High School 布兰里奇高中</span></span></strong></p>

				<p><span style="color:#696969;"><em><span style="font-size: 16px;"><span >西雅图&middot;年级9~12&middot;学费$1,6210</span></span></em></span></p>

				<p><span style="font-size:16px;"><span >成立于1954年的Bishop Blanchet高中是一所私立教会学校，也是西雅图地区第一所男女同校的教会学校。拥有多大26门大学先修(AP)和荣誉课程，以小班化教学，丰富的课程及兴趣课程，为每位学生提供独特的学习、探索和成长体验。学校课程为充分挖掘每位学生的最大潜能而设置，学校自建校以来，已培养无数进入美国顶尖院校的优秀毕业生。在校人数850人，师生比12：1.</span></span></p>

				<p><span style="font-size:16px;"><span >学校招收9~12年级国际生，申请截止日期为1月8日。</span></span></p>

				<p>&nbsp;</p>

				<p><strong><span style="font-size:16px;"><span >#20 Archbishop Murphy High School 墨菲高中</span></span></strong></p>

				<p><span style="color:#696969;"><em><span style="font-size: 16px;"><span >埃弗里特&middot;年级9~12&middot;学费$1,5545</span></span></span></em></p>

				<p><span style="font-size:16px;"><span >Archbishop Murphy高中对来自全世界各个种族、肤色、性别、国家的人敞开大门。学校为每位学生提供发现自我和明确人生价值的机会。学校的课程设置为学生挑战自我、发展自身能力，成长为一生都好学进步的人。学生能够在学校培养和获得在未来学校和人生中成功的重要技能和习惯。学校的指导老师为每位学生制定4年的高中学习计划，以发展学生最佳的潜能。在校人数496人，师生比13：1。</span></span></p>

				<p><span style="font-size:16px;"><span >学校招收9~12年级国际生，提前批申请截止日期12月1日，12月1日后的申请至名额满为止。</span></span></p>

				<br>
			<br>


						<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;等多关于大西雅图地区优质学院的介绍、专业、申请要求、转学计划等，请至络雅教育官网(<a href = "/">loyaeducation.com</a>)或通过络雅教育微信公众账号进行一对一咨询。</p>




			<br>
			<br>


		</div>

	</div>


	{% include "footer.html" %}

	{% endblock %}


	{% block add_js %}
	<script src="{% static 'scripts/jquery.share.min.js' %}"></script>

	{% endblock %}