{% load static %}

<div>
	<a href="/article/5">
	<div id = "article5" class = "article-small"> 
		<h3 class="text-center">被开除学生身份恢复及返美注意事项</h3>
		<hr>
		<img class = "img-responsive center" alt="Responsive image" src="{% static 'images/article5_small_1.jpg' %}"/>
		<br>
		<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;每年的暑假都格外短暂，转眼又到了美国大学的开学季，中国留学生也即将陆续返回美国，继续他们的学习。在返回美国之前除了要检查要各种入关必要的文件，包括签了Travel Signiature 的I-20，护照、和签证，不然可能会遭遇关小黑屋的审查。</p>
		<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;另外一种则是要检查一下自己上一学年的学习，是否有足够的出勤率、GPA是否达到标准、上一学年学分是否修够.....</p>
	</div>
	</a>
</div>