{% extends "basic.html" %}

{% load static %}

{% block title %}

<title>被开除学生身份恢复及返美注意事项</title>

{% endblock %}

{% block content %}

<div class = "container-white container-fluid">
<br>
<br>
<br>
<br>
<br>
<br>

	<div class = "container">
	<div class="social-share" style="text-align: right"></div>

		<br>
		<h3 class="text-center">被开除学生身份恢复及返美注意事项</h3>
		<hr>

		<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;每年的暑假都格外短暂，转眼又到了美国大学的开学季，中国留学生也即将陆续返回美国，继续他们的学习。在返回美国之前除了要检查要各种入关必要的文件，包括签了Travel Signiature 的I-20，护照、和签证，不然可能会遭遇关小黑屋的审查。</p>
		
		<br>
		<div class = "row">

			<div class = "col-lg-5 col-sm-12">
				<img class = "img-responsive" alt="Responsive image"" src="{% static 'images/article5_1.jpg' %}"/>
			</div>

			<div class = "col-lg-7 col-sm-12">
				<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;另外一种则是要检查一下自己上一学年的学习，是否有足够的出勤率、GPA是否达到标准、上一学年学分是否修够等。不然有可能在学年结束后被学校开除，而在国内吃喝玩乐不亦乐乎的你还没有察觉，直到入关时直接被卡在海关，甚至被遣送回国。</p>

				<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;其实被开除的学生并不一定都是坏学生。只是有一些留学生还不熟悉美国的教学制度，且又是初到美国，是禁不住好奇心的驱使，喜欢到处去走走看看，像在国内上学一样睡个懒觉，旷课出去玩，从而导致GPA，和出勤率的不符合要求。在国内的学校来看，这并不是一件大事。但是，在美国的教育体制内，出勤率不足、GPA过低、选修学分不够等，都会导致学生被开除。据不完全统计，每年去年被开除的中国学生都有上千人，这个惊人的数字反映出中国留学生不适应美国教学体制的种种问题。在被开除的人中，因学术不诚实或学术表现差而被开除的学生占被开除总人数的80.55%。值得注意的是，被开除的学生也并不全是差生，来自排名前100的名校生超过了60%。有能力进入排名前100的学校本来就说明学生本身的素质并不差，但是由于种种原因学生面临被学校开除的困扰，这对于学生和学生家长来说无疑是一个晴天霹雳。</p>

			</div>
		</div>
		<br>
		<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;对于国际留学生来说，被学校开除这点几乎是致命的。因为一旦学校将你从学校系统除名，用来证明国际生合法留在美国的I-20就会被终止（terminated）。这种情况下，学校将会给你提供15天的时间离境。如果15天后，被开除学生依然还在美国，那就从合法的学生身份变成一位黑户了。这将对学生以后再来美留学，或旅游都造成很大的不利。不过I-20被终止也不代表学生不再有任何留在美国念书的机会。下面就让我来为大家介绍一下有关I-20被终止， 身份恢复的问题。</p>

		<h4>什么是I-20</h4>
		<p>首先让我们先来了解一下什么是I-20以及它对留学生起到的作用。</p>
		<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;I-20是美国移民局下发给国际留学生以及读语言学校的学生用来申请美国签证进入美国的通行证。每个申请来美留学的学生肯定都知道，在接到学校的录取通知（offer/admission）的同时，美国学校还会给你寄来一份I-20。这张I-20上面将会记载你在该学校上学时所有的出境入境记录。 以及你在美求学阶段的身份状态。一旦I-20被美国移民局终止，你在美的合法身份将立即失效。美国移民局会要求你在限期15天之内离境。</p>

		
		<div class = "row">

			

			<div class = "col-lg-7 col-sm-12">

				<h4>但是，I-20被终止就真的意味着你要被遣返了嘛？面对这种棘手的问题你应该怎么办呢？</h4>
				<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;首先，不要慌张， I-20被终止你也不一定就会被强制遣返回国。 你只需要在短时间内在美国境内找到一所愿意接收你的学校，并且通过出入美国边境来快速恢复你的身份，就能继续合法居留在美国生活学习。通过申请学校来恢复身份有两种途径。一种是快速出入境恢复身份。这种方法简单快捷。学生在不需要回国后重新申请学校，并经过漫长的审查和等待。但这种方法适用于被开除后15天内的学生，这就需要学生对开除做出及时的反应且需要出入一次美国边境来激活新的I-20。另一种方法是向移民局申请重新恢复学生身份(Reinstatement) 。这种方法指的是留学生不需要出入美国边境，可以在I-20被关的五个月内申请美国境内学校来恢复身份。只要你的案子一经移民局受理，处于pending状态，你就可以合法在美国居住。但是，在此期间，留学生不能出境，因为一旦出境再进关时，海关会查你的I-20，但此时你原来的I-20已经过期，你就不能在入境美国了。且申请周期较长，一般为半年左右。</p>

			</div>
			<div class = "col-lg-5 col-sm-12">
				<br>
				<img class = "img-responsive" alt="Responsive image"" src="{% static 'images/article5_2.jpeg' %}"/>
			</div>
		</div>
		

		<h4>出入境快速恢复VS境内恢复身份</h4>
		<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;第一种方式非常的简单快捷，所需准备的文件就像在国内申请学校时一样，只需要一张有效的美签（可以是原来学校的）以及新学校的I-20。第二种方式，不需要出入美国边境，但时间较长，手续稍微复杂一些。首先，学生需要通过USCIS移民局电子系统在线申请并在线填写I-539表格，并且扫描上传下列文件：</p>
		<ul>
			<li>之前上过所有学校的I-20表格的复印件</li>
			<li>在gov/I94获得原始的I-94（白卡护照内装订）或I-94打印版</li>
			<li>新的I-20的复印件</li>
			<li>银行存款张明</li>
			<li>一封personal statement。（要求恢复到F-1学生身份，你还需要解释你的情况，并如实指出，未能保持状态的原因）</li>
			<li>美国学校的成绩单</li>
		</ul>
		<h5>注明：恢复F-1身份申请大约需要六个月来处理。</h5>
		<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;以上是我们根据美国移民局有关规定及实际学生身份恢复服务的经验为大家总结出来的有关I-20被终止、学生身份丢失的解决方案。络雅教育与多所高校合作、帮助学生进行快速录取，处理紧急身份问题；与我们合作专业的移民律师将为选择境内恢复身份的学生提供全程服务。</p>
		<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;络雅教育微信提供免费身份恢复咨询及身份恢复服务。</p>



		<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;等多关于大西雅图地区优质学院的介绍、专业、申请要求、转学计划等，请至络雅教育官网(<a href = "/">loyaeducation.com</a>)或通过络雅教育微信公众账号进行一对一咨询。</p>

		<br>
		<br>


	</div>

</div>


{% include "footer.html" %}

{% endblock %}


{% block add_js %}
<script src="{% static 'scripts/jquery.share.min.js' %}"></script>

{% endblock %}